
# Project: Investigate a Soccer Statistics

In [4]:
# IMPORT PACKAGES
import pandas as pd
import sqlite3
from datetime import datetime, date

In [5]:
# CONNEC TO DATABASE

conn = sqlite3.connect('database.sqlite')
c = conn.cursor()

In [6]:
# CREATE CSV'S

df_players = pd.read_sql('SELECT * from Player', conn)
df_teams = pd.read_sql('SELECT * from Team', conn)
df_country = pd.read_sql('SELECT * from Country', conn)
df_league = pd.read_sql('SELECT * from League', conn)

In [7]:
#  SAVE TO CSV
df_players.to_csv('players.csv', index=False)
df_teams.to_csv('teams.csv', index=False)
df_country.to_csv('countries.csv', index=False)
df_league.to_csv('leagues.csv', index=False)

In [8]:
# LOAD DATA

df_all_players = pd.read_csv('players.csv')
df_all_teams = pd.read_csv('teams.csv')
df_all_country = pd.read_csv('countries.csv')
df_all_league = pd.read_csv('leagues.csv')

In [9]:
print(df_all_players.describe())
df_all_players.head()

                 id  player_api_id  player_fifa_api_id        height  \
count  11060.000000   11060.000000        11060.000000  11060.000000
mean    5537.511392  156582.427215       165664.910488    181.867445
std     3197.692647  160713.700624        58649.928360      6.369201
min        1.000000    2625.000000            2.000000    157.480000
25%     2767.750000   35555.500000       151889.500000    177.800000
50%     5536.500000   96619.500000       184671.000000    182.880000
75%     8306.250000  212470.500000       203883.250000    185.420000
max    11075.000000  750584.000000       234141.000000    208.280000

             weight
count  11060.000000
mean     168.380289
std       14.990217
min      117.000000
25%      159.000000
50%      168.000000
75%      179.000000
max      243.000000

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [10]:
df_all_teams.head()

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [11]:
df_all_country.head()

      id     name
0      1  Belgium
1   1729  England
2   4769   France
3   7809  Germany
4  10257    Italy

In [12]:
df_all_league.head()

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [13]:
# Country Leagues
df_country_league = pd.read_sql(f"SELECT League.name, Country.name FROM League LEFT JOIN Country ON League.country_id = Country.id WHERE League.country_id != ''", conn)
df_country_league.to_csv('countryleague.csv', index=False)

df_leaguee = pd.read_csv('countryleague.csv')
df_leaguee.columns = ['league_name', 'country']
df_leaguee.head()

              league_name  country
0  Belgium Jupiler League  Belgium
1  England Premier League  England
2          France Ligue 1   France
3   Germany 1. Bundesliga  Germany
4           Italy Serie A    Italy

In [14]:
#  TEAMS DATA

df_teams_info = pd.read_sql(f"SELECT * FROM Team LEFT JOIN Team_Attributes ON Team.team_api_id = Team_Attributes.team_api_id WHERE Team.team_api_id != ''", conn)
df_teams_info.to_csv('teams_info.csv', index=False)

df_teams_info = pd.read_csv('teams_info.csv')
df_teams_info.head()

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name,id.1,team_fifa_api_id.1,team_api_id.1,date,buildUpPlaySpeed,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,9987,673.0,KRC Genk,GEN,485.0,673.0,9987.0,2010-02-22 00:00:00,45.0,...,60.0,Normal,Organised,70.0,High,65.0,Press,70.0,Wide,Cover
1,1,9987,673.0,KRC Genk,GEN,486.0,673.0,9987.0,2011-02-22 00:00:00,66.0,...,51.0,Normal,Organised,48.0,Medium,47.0,Press,54.0,Normal,Offside Trap
2,1,9987,673.0,KRC Genk,GEN,487.0,673.0,9987.0,2012-02-22 00:00:00,53.0,...,56.0,Normal,Organised,47.0,Medium,45.0,Press,55.0,Normal,Cover
3,1,9987,673.0,KRC Genk,GEN,488.0,673.0,9987.0,2013-09-20 00:00:00,58.0,...,56.0,Normal,Organised,47.0,Medium,45.0,Press,55.0,Normal,Cover
4,1,9987,673.0,KRC Genk,GEN,489.0,673.0,9987.0,2014-09-19 00:00:00,58.0,...,56.0,Normal,Organised,47.0,Medium,45.0,Press,55.0,Normal,Cover

In [15]:
# df_all_players = pd.read_sql(f"Select * from Player p, Player_Attributes pa WHERE p.player_api_id = pa.player_api_id", conn)

# df_all_players.to_csv('all_players.csv', index=False)

df_all_players = pd.read_sql(f"SELECT * FROM Player LEFT JOIN Player_Attributes ON Player.player_api_id = Player_Attributes.player_api_id WHERE Player.player_api_id != ''", conn)
df_all_players.to_csv('all_players.csv', index=False)

# How many matches were played at home?

In [16]:
# HOME TEAM MATCHES

df_home_matches = pd.read_sql(f"SELECT t.team_long_name as home_team, m.season, m.stage, m.date,  m.home_team_goal  FROM Team t JOIN Match m ON t.team_api_id = m.home_team_api_id", conn)

df_home_matches.to_csv('home_team_matches.csv', index=False)

In [23]:
df_home_matches_summary = pd.read_csv('home_team_matches.csv')
df_home_matches_summary.describe()

              stage  home_team_goal
count  25979.000000    25979.000000
mean      18.242773        1.544594
std       10.407354        1.297158
min        1.000000        0.000000
25%        9.000000        1.000000
50%       18.000000        1.000000
75%       27.000000        2.000000
max       38.000000       10.000000

In [24]:
len(df_home_matches_summary.index)

25979

# How many matches were played at away?

In [29]:
# Aay team matches

df_away_matches = pd.read_sql(f"SELECT t.team_long_name as away_team, m.season, m.stage, m.date,  m.away_team_goal  FROM Team t JOIN Match m ON t.team_api_id = m.away_team_api_id", conn)

df_away_matches.to_csv('away_team_matches.csv', index=False)

In [30]:
df_away_matches_summary = pd.read_csv('away_team_matches.csv')
df_away_matches_summary.describe()

              stage  away_team_goal
count  25979.000000    25979.000000
mean      18.242773        1.160938
std       10.407354        1.142110
min        1.000000        0.000000
25%        9.000000        0.000000
50%       18.000000        1.000000
75%       27.000000        2.000000
max       38.000000        9.000000

In [31]:
len(df_away_matches_summary.index)

25979

In [32]:
# LOAD PLAYERS
df_total_players = pd.read_csv('all_players.csv')
df_total_players.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,id.1,player_fifa_api_id.1,player_api_id.1,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,5,218353,505942,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
1,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,4,218353,505942,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
2,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,3,218353,505942,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,2,218353,505942,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
4,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,1,218353,505942,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0

In [33]:
df_away_matches_summary = pd.read_csv('away_team_matches.csv')
df_away_matches_summary .count()

away_team         25979
season            25979
stage             25979
date              25979
away_team_goal    25979
dtype: int64

In [34]:
# remove duplicate columns
df_players_copy = df_total_players.loc[~df_total_players.index.duplicated(),:].copy()

df_players_new = df_players_copy.drop_duplicates(subset=['player_name'], keep='first')

df_players_new.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,id.1,player_fifa_api_id.1,player_api_id.1,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,5,218353,505942,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
5,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146,38,189615,155782,...,38.0,29.0,53.0,45.0,63.0,6.0,22.0,49.0,22.0,22.0
38,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163,64,186170,162549,...,67.0,36.0,21.0,21.0,21.0,8.0,21.0,54.0,21.0,21.0
64,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198,87,140161,30572,...,54.0,60.0,72.0,70.0,70.0,14.0,11.0,58.0,11.0,10.0
87,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154,112,17725,23780,...,60.0,81.0,74.0,79.0,77.0,12.0,11.0,55.0,10.0,6.0

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [35]:
df_players_categories = df_players_new.drop(df_players_copy.columns[[0, 1, 2, 3, 4,  7, 8, 9, 10,  13, 14, 15]], axis=1)

df_players_new = df_players_new.drop(df_players_copy.columns[[0, 1, 3, 4,  7, 8, 9, 10,  13, 14, 15]], axis=1)

categories = df_players_categories.columns.values.tolist()
print(categories)

['height', 'weight', 'overall_rating', 'potential', 'crossing', 'finishing', 'heading_accuracy', 'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy', 'long_passing', 'ball_control', 'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots', 'aggression', 'interceptions', 'positioning', 'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning', 'gk_reflexes']

<a id='eda'></a>
## Exploratory Data Analysis


### What is the best rating for each category of the player attributes

In [36]:
# Max per category
def max_rating(category):
    max_rating_category = df_players_new[category].max()
    print(f"Best rating for category {category}")
    return max_rating_category

In [37]:
best_rating = lambda : [print(max_rating(category)) for category in categories]
best_rating()

Best rating for category height
208.28
Best rating for category weight
243
Best rating for category overall_rating
93.0
Best rating for category potential
95.0
Best rating for category crossing
95.0
Best rating for category finishing
95.0
Best rating for category heading_accuracy
94.0
Best rating for category short_passing
94.0
Best rating for category volleys
91.0
Best rating for category dribbling
97.0
Best rating for category curve
92.0
Best rating for category free_kick_accuracy
94.0
Best rating for category long_passing
94.0
Best rating for category ball_control
97.0
Best rating for category acceleration
96.0
Best rating for category sprint_speed
96.0
Best rating for category agility
96.0
Best rating for category reactions
96.0
Best rating for category balance
95.0
Best rating for category shot_power
97.0
Best rating for category jumping
94.0
Best rating for category stamina
95.0
Best rating for category strength
96.0
Best rating for category long_shots
94.0
Best rating for category aggression
97.0
Best rating for category interceptions
96.0
Best rating for category positioning
95.0
Best rating for category vision
96.0
Best rating for category penalties
94.0
Best rating for category marking
96.0
Best rating for category standing_tackle
95.0
Best rating for category sliding_tackle
94.0
Best rating for category gk_diving
93.0
Best rating for category gk_handling
93.0
Best rating for category gk_kicking
94.0
Best rating for category gk_positioning
96.0
Best rating for category gk_reflexes
94.0

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

### What is the worst rating for each of the player attributes?

In [38]:
# Min per category
def min_rating(category):
    min_rating_category = df_players_new[category].min()
    print(f"Worst rating for category {category}")
    return min_rating_category

In [39]:
worst_rating = lambda : [print(min_rating(category)) for category in categories]
worst_rating()

Worst rating for category height
157.48
Worst rating for category weight
117
Worst rating for category overall_rating
33.0
Worst rating for category potential
39.0
Worst rating for category crossing
2.0
Worst rating for category finishing
1.0
Worst rating for category heading_accuracy
1.0
Worst rating for category short_passing
3.0
Worst rating for category volleys
1.0
Worst rating for category dribbling
1.0
Worst rating for category curve
4.0
Worst rating for category free_kick_accuracy
1.0
Worst rating for category long_passing
4.0
Worst rating for category ball_control
5.0
Worst rating for category acceleration
10.0
Worst rating for category sprint_speed
13.0
Worst rating for category agility
15.0
Worst rating for category reactions
20.0
Worst rating for category balance
20.0
Worst rating for category shot_power
2.0
Worst rating for category jumping
14.0
Worst rating for category stamina
16.0
Worst rating for category strength
16.0
Worst rating for category long_shots
1.0
Worst rating for category aggression
9.0
Worst rating for category interceptions
1.0
Worst rating for category positioning
4.0
Worst rating for category vision
1.0
Worst rating for category penalties
3.0
Worst rating for category marking
1.0
Worst rating for category standing_tackle
2.0
Worst rating for category sliding_tackle
2.0
Worst rating for category gk_diving
1.0
Worst rating for category gk_handling
1.0
Worst rating for category gk_kicking
3.0
Worst rating for category gk_positioning
1.0
Worst rating for category gk_reflexes
1.0

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

### Who is the best player for each category?

In [40]:
# BEST PLAYER
def best_player_category(category):
    best_player = df_players_new[df_players_new[category]== df_players_new[category].max()]
    print(f"Best player for category {category}")
    return best_player

In [41]:
best_player = lambda : [print(best_player_category(category)) for category in categories]
best_player()

Best player for category height
            player_name  height  weight  overall_rating  potential  crossing  \
98021  Kristof van Hout  208.28     243            47.0       62.0      21.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
98021       21.0              21.0           29.0     11.0  ...    35.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
98021       37.0     21.0             21.0             2.0       56.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
98021         52.0        41.0            45.0         37.0

[1 rows x 38 columns]
Best player for category weight
             player_name  height  weight  overall_rating  potential  crossing  \
98021   Kristof van Hout  208.28     243            47.0       62.0      21.0
171956         Tim Wiese  193.04     243            82.0       85.0       6.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
98021        21.0              21.0           29.0     11.0  ...    35.0
171956       11.0               7.0           35.0     11.0  ...    46.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
98021        37.0     21.0             21.0             2.0       56.0
171956       41.0      7.0              9.0            10.0       82.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
98021          52.0        41.0            45.0         37.0
171956         75.0        54.0            80.0         88.0

[2 rows x 38 columns]
Best player for category overall_rating
             player_name  height  weight  overall_rating  potential  crossing  \
63845   Gianluigi Buffon  193.04     201            93.0       93.0       9.0
178940      Wayne Rooney  175.26     183            93.0       93.0      74.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
63845        10.0               8.0           23.0      7.0  ...    70.0
178940       93.0              61.0           83.0     89.0  ...    88.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
63845        88.0      8.0              8.0             9.0       91.0
178940       80.0     28.0             42.0            41.0       11.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
63845          93.0        76.0            96.0         93.0
178940          7.0        71.0            11.0         12.0

[2 rows x 38 columns]
Best player for category potential
       player_name  height  weight  overall_rating  potential  crossing  \
153429  Ronaldinho  182.88     168            91.0       95.0      83.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
153429       90.0              61.0           90.0     86.0  ...    92.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
153429       83.0     14.0             28.0            19.0       12.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
153429         10.0        83.0            11.0         10.0

[1 rows x 38 columns]
Best player for category crossing
         player_name  height  weight  overall_rating  potential  crossing  \
38910  David Beckham  182.88     165            87.0       89.0      95.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
38910       68.0              41.0           89.0     71.0  ...    89.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
38910       82.0     62.0             59.0            54.0       11.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
38910         11.0        94.0             5.0         12.0

[1 rows x 38 columns]
Best player for category finishing
          player_name  height  weight  overall_rating  potential  crossing  \
104144      Luca Toni  193.04     194            89.0       90.0      68.0
169990  Thierry Henry  187.96     183            91.0       93.0      75.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
104144       95.0              94.0           79.0     83.0  ...    78.0
169990       95.0              65.0           83.0     83.0  ...    82.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
104144       77.0     17.0             34.0            17.0        9.0
169990       91.0     16.0             17.0            14.0       14.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
104144          8.0        31.0             6.0          7.0
169990          7.0        67.0            10.0         13.0

[2 rows x 38 columns]
Best player for category heading_accuracy
            player_name  height  weight  overall_rating  potential  crossing  \
31186   Claudio Pizarro  182.88     185            84.0       85.0      49.0
70289     Hernan Crespo  182.88     179            88.0       91.0      44.0
104144        Luca Toni  193.04     194            89.0       90.0      68.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
31186        90.0              94.0           59.0     87.0  ...    74.0
70289        94.0              94.0           66.0     80.0  ...    67.0
104144       95.0              94.0           79.0     83.0  ...    78.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
31186        70.0     25.0             43.0            23.0       13.0
70289        93.0     17.0             19.0            16.0        8.0
104144       77.0     17.0             34.0            17.0        9.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
31186          13.0        47.0             6.0          6.0
70289           7.0        32.0             8.0          7.0
104144          8.0        31.0             6.0          7.0

[3 rows x 38 columns]
Best player for category short_passing
                    player_name  height  weight  overall_rating  potential  \
53391            Fabio Liverani  175.26     161            82.0       86.0
90203       Juan Carlos Valeron  185.42     168            86.0       89.0
92135   Juninho Pernambucano,20  177.80     163            88.0       92.0
173585            Tomas Rosicky  177.80     143            85.0       91.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
53391       88.0       70.0              76.0           94.0     74.0  ...
90203       78.0       76.0              74.0           94.0     73.0  ...
92135       92.0       77.0              73.0           94.0     74.0  ...
173585      82.0       72.0              55.0           94.0     78.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
53391     87.0       66.0     67.0             68.0            59.0
90203     91.0       85.0     12.0             22.0            14.0
92135     82.0       92.0     59.0             51.0            48.0
173585    88.0       92.0     41.0             49.0            61.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
53391         7.0         14.0        86.0            12.0          7.0
90203         5.0          9.0        93.0             5.0          5.0
92135        13.0          6.0        91.0             5.0          5.0
173585        6.0         11.0        80.0            11.0          7.0

[4 rows x 38 columns]
Best player for category volleys
             player_name  height  weight  overall_rating  potential  crossing  \
44610   Dimitar Berbatov  187.96     165            84.0       90.0      72.0
106356    Lukas Podolski  182.88     183            87.0       92.0      69.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
44610        92.0              89.0           79.0     91.0  ...    86.0
106356       90.0              49.0           69.0     91.0  ...    77.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
44610        79.0     12.0             24.0            18.0        7.0
106356       70.0     23.0             33.0            16.0        7.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
44610           8.0        61.0            12.0          8.0
106356         15.0        55.0             7.0         12.0

[2 rows x 38 columns]
Best player for category dribbling
       player_name  height  weight  overall_rating  potential  crossing  \
153429  Ronaldinho  182.88     168            91.0       95.0      83.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
153429       90.0              61.0           90.0     86.0  ...    92.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
153429       83.0     14.0             28.0            19.0       12.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
153429         10.0        83.0            11.0         10.0

[1 rows x 38 columns]
Best player for category curve
         player_name  height  weight  overall_rating  potential  crossing  \
38910  David Beckham  182.88     165            87.0       89.0      95.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
38910       68.0              41.0           89.0     71.0  ...    89.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
38910       82.0     62.0             59.0            54.0       11.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
38910         11.0        94.0             5.0         12.0

[1 rows x 38 columns]
Best player for category free_kick_accuracy
            player_name  height  weight  overall_rating  potential  crossing  \
53192   Fabio Cannavaro  175.26     165            91.0       92.0      42.0
72590     Iker Casillas  185.42     185            89.0       92.0      13.0
138694    Paolo Maldini  185.42     187            82.0       88.0      60.0
154049       Roy Makaay  187.96     165            87.0       91.0      61.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
53192        17.0              91.0           73.0      NaN  ...     NaN
72590        10.0              12.0           21.0     12.0  ...    51.0
138694       32.0              87.0           76.0      NaN  ...     NaN
154049       93.0              91.0           68.0      NaN  ...     NaN

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
53192        94.0     96.0             93.0             NaN        5.0
72590        94.0     11.0             11.0             9.0       91.0
138694       94.0     76.0             86.0             NaN        5.0
154049       94.0     12.0             32.0             NaN        4.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
53192           6.0        62.0             5.0         11.0
72590          86.0        74.0            94.0         93.0
138694         12.0        73.0            14.0          7.0
154049          7.0        31.0            10.0          6.0

[4 rows x 38 columns]
Best player for category long_passing
         player_name  height  weight  overall_rating  potential  crossing  \
38910  David Beckham  182.88     165            87.0       89.0      95.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
38910       68.0              41.0           89.0     71.0  ...    89.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
38910       82.0     62.0             59.0            54.0       11.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
38910         11.0        94.0             5.0         12.0

[1 rows x 38 columns]
Best player for category ball_control
       player_name  height  weight  overall_rating  potential  crossing  \
153429  Ronaldinho  182.88     168            91.0       95.0      83.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
153429       90.0              61.0           90.0     86.0  ...    92.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
153429       83.0     14.0             28.0            19.0       12.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
153429         10.0        83.0            11.0         10.0

[1 rows x 38 columns]
Best player for category acceleration
            player_name  height  weight  overall_rating  potential  crossing  \
16460      Arjen Robben  180.34     176            88.0       90.0      87.0
69991      Henri Camara  177.80     148            79.0       80.0      71.0
134974  Obafemi Martins  170.18     161            81.0       89.0      32.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
16460        74.0              48.0           86.0     84.0  ...    81.0
69991        76.0              64.0           60.0      NaN  ...     NaN
134974       81.0              64.0           51.0     83.0  ...    70.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
16460        89.0     15.0             24.0            25.0        7.0
69991        63.0     30.0             31.0             NaN        6.0
134974       82.0     26.0             44.0            20.0       12.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
16460           5.0        75.0            14.0         13.0
69991           9.0        52.0             7.0         14.0
134974          9.0        38.0            14.0          5.0

[3 rows x 38 columns]
Best player for category sprint_speed
        player_name  height  weight  overall_rating  potential  crossing  \
73836  Ivan Cordoba  172.72     161            82.0       83.0      43.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
73836       46.0              82.0           81.0     58.0  ...    72.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
73836       46.0     80.0             80.0            81.0        8.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
73836          8.0        58.0             8.0         10.0

[1 rows x 38 columns]
Best player for category agility
         player_name  height  weight  overall_rating  potential  crossing  \
102482  Lionel Messi  170.18     159            85.0       94.0      85.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
102482       76.0              59.0           86.0     88.0  ...    91.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
102482       87.0     20.0             25.0            20.0        8.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
102482          9.0        79.0            12.0         16.0

[1 rows x 38 columns]
Best player for category reactions
        player_name  height  weight  overall_rating  potential  crossing  \
16460  Arjen Robben  180.34     176            88.0       90.0      87.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
16460       74.0              48.0           86.0     84.0  ...    81.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
16460       89.0     15.0             24.0            25.0        7.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
16460          5.0        75.0            14.0         13.0

[1 rows x 38 columns]
Best player for category balance
         player_name  height  weight  overall_rating  potential  crossing  \
5263     Aldo Kalulu  165.10     126            55.0       71.0      39.0
82635  Joao Costa,21  170.18     141            69.0       76.0      63.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
5263        54.0              36.0           48.0     50.0  ...    51.0
82635       59.0              65.0           60.0     57.0  ...    62.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
5263        67.0     18.0             21.0            14.0        9.0
82635       72.0     29.0             29.0            35.0        6.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
5263           6.0        13.0             7.0         11.0
82635          7.0        10.0             7.0         10.0

[2 rows x 38 columns]
Best player for category shot_power
           player_name  height  weight  overall_rating  potential  crossing  \
84411  John Arne Riise  187.96     181            80.0       82.0      88.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
84411       81.0              74.0           85.0     79.0  ...    73.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
84411       89.0     70.0             77.0            82.0        6.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
84411         11.0        84.0             6.0         10.0

[1 rows x 38 columns]
Best player for category jumping

       player_name  height  weight  overall_rating  potential  crossing  \
171581  Tim Cahill   177.8     152            76.0       84.0      71.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
171581       71.0              86.0           82.0     84.0  ...    77.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
171581       66.0     67.0             51.0            73.0        5.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
171581          9.0        76.0             5.0          6.0

[1 rows x 38 columns]
Best player for category stamina
            player_name  height  weight  overall_rating  potential  crossing  \
163658  Simone Perrotta   177.8     159            83.0       86.0      85.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
163658       79.0              79.0           83.0     69.0  ...    80.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
163658       82.0     61.0             85.0            78.0       10.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
163658          9.0        76.0             6.0          9.0

[1 rows x 38 columns]
Best player for category strength
             player_name  height  weight  overall_rating  potential  crossing  \
36161  Daniel van Buyten  198.12     209            87.0       89.0      36.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
36161       47.0              92.0           64.0     39.0  ...    64.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
36161       83.0     84.0             87.0            78.0        8.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
36161         13.0        72.0             9.0          7.0

[1 rows x 38 columns]
Best player for category long_shots
           player_name  height  weight  overall_rating  potential  crossing  \
59244    Frank Lampard  182.88     196            90.0       92.0      72.0
141109    Pavel Nedved  177.80     154            88.0       91.0      91.0
167103  Steven Gerrard  182.88     183            88.0       91.0      84.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
59244        84.0              62.0           92.0     87.0  ...    89.0
141109       78.0              51.0           93.0      NaN  ...     NaN
167103       85.0              80.0           90.0     80.0  ...    86.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
59244        86.0     69.0             86.0            64.0       10.0
141109       89.0     59.0             76.0             NaN       11.0
167103       91.0     68.0             83.0            71.0        5.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
59244           6.0        90.0             9.0          6.0
141109         13.0        88.0             8.0          5.0
167103          8.0        92.0             6.0         10.0

[3 rows x 38 columns]
Best player for category aggression
              player_name  height  weight  overall_rating  potential  \
116087  Martin Demichelis  182.88     172            75.0       82.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
116087      41.0       23.0              83.0           71.0     35.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
116087    71.0       50.0     83.0             83.0            83.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
116087       14.0         13.0        70.0             8.0         11.0

[1 rows x 38 columns]
Best player for category interceptions
         player_name  height  weight  overall_rating  potential  crossing  \
172002  Timmy Simons  185.42     174            75.0       80.0      49.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
172002       54.0              68.0           80.0     26.0  ...    84.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
172002       78.0     68.0             69.0            73.0        9.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
172002         13.0        77.0             8.0          9.0

[1 rows x 38 columns]
Best player for category positioning
                player_name  height  weight  overall_rating  potential  \
155157  Ruud van Nistelrooy  187.96     176            87.0       90.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
155157      70.0       93.0              83.0           77.0     89.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
155157    77.0       77.0     16.0             37.0            33.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
155157        7.0         13.0        55.0             5.0         12.0

[1 rows x 38 columns]
Best player for category vision
           player_name  height  weight  overall_rating  potential  crossing  \
180709  Xavi Hernandez  170.18     148            85.0       86.0      82.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
180709       72.0              70.0           92.0     70.0  ...    96.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
180709       82.0     67.0             81.0            67.0       13.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
180709          8.0        91.0             7.0          6.0

[1 rows x 38 columns]
Best player for category penalties
            player_name  height  weight  overall_rating  potential  crossing  \
2951        Adrian Mutu  182.88     168            84.0       84.0      66.0
53192   Fabio Cannavaro  175.26     165            91.0       92.0      42.0
72590     Iker Casillas  185.42     185            89.0       92.0      13.0
138694    Paolo Maldini  185.42     187            82.0       88.0      60.0
154049       Roy Makaay  187.96     165            87.0       91.0      61.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
2951         81.0              79.0           80.0     80.0  ...    82.0
53192        17.0              91.0           73.0      NaN  ...     NaN
72590        10.0              12.0           21.0     12.0  ...    51.0
138694       32.0              87.0           76.0      NaN  ...     NaN
154049       93.0              91.0           68.0      NaN  ...     NaN

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
2951         94.0     21.0             34.0            28.0       10.0
53192        94.0     96.0             93.0             NaN        5.0
72590        94.0     11.0             11.0             9.0       91.0
138694       94.0     76.0             86.0             NaN        5.0
154049       94.0     12.0             32.0             NaN        4.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
2951           10.0        21.0            10.0          8.0
53192           6.0        62.0             5.0         11.0
72590          86.0        74.0            94.0         93.0
138694         12.0        73.0            14.0          7.0
154049          7.0        31.0            10.0          6.0

[5 rows x 38 columns]
Best player for category marking
           player_name  height  weight  overall_rating  potential  crossing  \
53192  Fabio Cannavaro  175.26     165            91.0       92.0      42.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
53192       17.0              91.0           73.0      NaN  ...     NaN

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
53192       94.0     96.0             93.0             NaN        5.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
53192          6.0        62.0             5.0         11.0

[1 rows x 38 columns]
Best player for category standing_tackle
            player_name  height  weight  overall_rating  potential  crossing  \
6514   Alessandro Nesta  187.96     174            91.0       92.0      42.0
84848        John Terry  187.96     198            91.0       90.0      13.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
6514        24.0              93.0           54.0     37.0  ...    76.0
84848       16.0              93.0           52.0     55.0  ...    63.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
6514        92.0     93.0             95.0            87.0        7.0
84848       83.0     93.0             95.0            87.0        7.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
6514           6.0        34.0            12.0         12.0
84848          8.0        43.0             8.0         12.0

[2 rows x 38 columns]
Best player for category sliding_tackle
         player_name  height  weight  overall_rating  potential  crossing  \
142271          Pepe  187.96     179            77.0       83.0      38.0
143228  Philipp Lahm  170.18     146            86.0       90.0      87.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
142271       51.0              68.0           62.0     23.0  ...    66.0
143228       37.0              34.0           85.0     66.0  ...    84.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
142271       77.0     78.0             81.0            94.0        6.0
143228       86.0     88.0             85.0            94.0       10.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
142271          9.0        70.0            14.0         14.0
143228         11.0        66.0            10.0         11.0

[2 rows x 38 columns]
Best player for category gk_diving
          player_name  height  weight  overall_rating  potential  crossing  \
66752  Gregory Coupet  180.34     176            92.0       93.0      11.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
66752        2.0              12.0           28.0      9.0  ...    51.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
66752       80.0      8.0             13.0            12.0       93.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
66752         91.0        82.0            93.0         88.0

[1 rows x 38 columns]
Best player for category gk_handling
            player_name  height  weight  overall_rating  potential  crossing  \
63845  Gianluigi Buffon  193.04     201            93.0       93.0       9.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
63845       10.0               8.0           23.0      7.0  ...    70.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
63845       88.0      8.0              8.0             9.0       91.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
63845         93.0        76.0            96.0         93.0

[1 rows x 38 columns]
Best player for category gk_kicking
         player_name  height  weight  overall_rating  potential  crossing  \
38910  David Beckham  182.88     165            87.0       89.0      95.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
38910       68.0              41.0           89.0     71.0  ...    89.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
38910       82.0     62.0             59.0            54.0       11.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
38910         11.0        94.0             5.0         12.0

[1 rows x 38 columns]
Best player for category gk_positioning
            player_name  height  weight  overall_rating  potential  crossing  \
63845  Gianluigi Buffon  193.04     201            93.0       93.0       9.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
63845       10.0               8.0           23.0      7.0  ...    70.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
63845       88.0      8.0              8.0             9.0       91.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
63845         93.0        76.0            96.0         93.0

[1 rows x 38 columns]
Best player for category gk_reflexes
           player_name  height  weight  overall_rating  potential  crossing  \
142868       Petr Cech  195.58     198            89.0       92.0       9.0
159227  Sebastian Frey  190.50     198            82.0       85.0      11.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
142868        8.0              19.0           25.0     17.0  ...    45.0
159227       13.0              12.0           23.0     12.0  ...    52.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
142868       87.0      8.0              8.0            12.0       90.0
159227       82.0     12.0             11.0            34.0       84.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
142868         86.0        82.0            91.0         94.0
159227         75.0        83.0            86.0         94.0

[2 rows x 38 columns]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

### Worst player per category

In [42]:
# WORST PLAYER
def worst_player_category(category):
    worst_player = df_players_new[df_players_new[category]== df_players_new[category].min()]
    print(f"Worst player for category {category}")
    return worst_player

In [43]:
worst_player = lambda : [print(worst_player_category(category)) for category in categories]
worst_player()

Worst player for category height
      player_name  height  weight  overall_rating  potential  crossing  \
90616  Juan Quero  157.48     117            58.0       62.0      55.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
90616       57.0              58.0           58.0     54.0  ...    53.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
90616       63.0     50.0             41.0            22.0        6.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
90616         14.0        55.0             6.0         10.0

[1 rows x 38 columns]
Worst player for category weight
      player_name  height  weight  overall_rating  potential  crossing  \
90616  Juan Quero  157.48     117            58.0       62.0      55.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
90616       57.0              58.0           58.0     54.0  ...    53.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
90616       63.0     50.0             41.0            22.0        6.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
90616         14.0        55.0             6.0         10.0

[1 rows x 38 columns]
Worst player for category overall_rating
                 player_name  height  weight  overall_rating  potential  \
57814  Francesco Della Rocca  182.88     161            33.0       53.0

       crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
57814      28.0       39.0              39.0           29.0     49.0  ...

       vision  penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
57814    49.0       30.0     20.0             23.0            22.0        4.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
57814         20.0        28.0            20.0         20.0

[1 rows x 38 columns]
Worst player for category potential
           player_name  height  weight  overall_rating  potential  crossing  \
132214  Nicola Madonna  182.88     159            35.0       39.0      36.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
132214       27.0              28.0           26.0     53.0  ...    63.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
132214       28.0     15.0             17.0            61.0        7.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
132214          4.0        32.0             5.0          4.0

[1 rows x 38 columns]
Worst player for category crossing
          player_name  height  weight  overall_rating  potential  crossing  \
75836   Jakub Szumski  193.04     172            48.0       61.0       2.0
164749   Steeve Elana  187.96     187            63.0       70.0       2.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
75836         6.0               6.0           12.0      7.0  ...     1.0
164749        3.0              54.0           22.0      9.0  ...    48.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
75836         5.0      9.0              7.0            13.0       54.0
164749       50.0      2.0             54.0             8.0       66.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
75836          47.0        51.0            44.0         52.0
164749         65.0        58.0            63.0         65.0

[2 rows x 38 columns]
Worst player for category finishing
              player_name  height  weight  overall_rating  potential  \
17755       Asmir Begovic  200.66     183            62.0       67.0
133147  Nicolas Penneteau  185.42     172            77.0       88.0
135325        Oka Nikolov  187.96     190            76.0       79.0
146724   Raphael Schaefer  190.50     207            78.0       77.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
17755       14.0        1.0              24.0           56.0     12.0  ...
133147       5.0        1.0              11.0           24.0      9.0  ...
135325      35.0        1.0              35.0           35.0     11.0  ...
146724       8.0        1.0               2.0           12.0      6.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
17755     55.0       59.0     24.0             32.0             8.0
133147    14.0       75.0      4.0             11.0            10.0
135325    54.0       57.0      1.0             35.0            11.0
146724    48.0       64.0      1.0              2.0            11.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
17755        57.0         61.0        57.0            59.0         64.0
133147       71.0         87.0        79.0            80.0         74.0
135325       73.0         74.0        69.0            76.0         78.0
146724       77.0         79.0        63.0            76.0         77.0

[4 rows x 38 columns]
Worst player for category heading_accuracy
       player_name  height  weight  overall_rating  potential  crossing  \
81383  Jerzy Dudek  187.96     172            81.0       82.0      16.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
81383        6.0               1.0           28.0     21.0  ...    51.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
81383       44.0      9.0             33.0            11.0       78.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
81383         83.0        56.0            82.0         81.0

[1 rows x 38 columns]
Worst player for category short_passing
           player_name  height  weight  overall_rating  potential  crossing  \
8956  Alireza Haghighi  193.04     176            54.0       71.0       9.0

      finishing  heading_accuracy  short_passing  volleys  ...  vision  \
8956        3.0              25.0            3.0      2.0  ...    25.0

      penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
8956       25.0      4.0             23.0            33.0       65.0

      gk_handling  gk_kicking  gk_positioning  gk_reflexes
8956         57.0        55.0            63.0         72.0

[1 rows x 38 columns]
Worst player for category volleys
         player_name  height  weight  overall_rating  potential  crossing  \
113189  Marian Kello  187.96     192            63.0       66.0      22.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
113189       22.0              22.0           22.0      1.0  ...    31.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
113189       54.0     22.0             22.0             8.0       64.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
113189         62.0        61.0            64.0         66.0

[1 rows x 38 columns]
Worst player for category dribbling
             player_name  height  weight  overall_rating  potential  crossing  \
142850  Peterson Pecanha  182.88     170            63.0       64.0       3.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
142850        2.0              29.0           38.0     19.0  ...    41.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
142850       22.0      3.0              8.0            20.0       56.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
142850         64.0        53.0            68.0         63.0

[1 rows x 38 columns]
Worst player for category curve
               player_name  height  weight  overall_rating  potential  \
61830           Gary Woods  185.42     172            53.0       70.0
75836        Jakub Szumski  193.04     172            48.0       61.0
137358  Owain Fon Williams  193.04     170            51.0       73.0
174082       Tommaso Berni  185.42     176            53.0       57.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
61830       21.0       21.0              21.0           21.0      5.0  ...
75836        2.0        6.0               6.0           12.0      7.0  ...
137358      29.0       22.0              22.0           22.0      4.0  ...
174082      21.0       21.0              21.0           21.0      3.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
61830     22.0       21.0     21.0             21.0             6.0
75836      1.0        5.0      9.0              7.0            13.0
137358    46.0       45.0     30.0             29.0            11.0
174082    42.0       40.0     21.0             21.0            26.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
61830        63.0         52.0        54.0            41.0         52.0
75836        54.0         47.0        51.0            44.0         52.0
137358       50.0         48.0        58.0            36.0         68.0
174082       37.0         54.0        37.0            56.0         67.0

[4 rows x 38 columns]
Worst player for category free_kick_accuracy
               player_name  height  weight  overall_rating  potential  \
180348  Wojciech Pawlowski   190.5     181            48.0       53.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
180348       6.0        9.0               7.0            5.0      4.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
180348     6.0        7.0      6.0              6.0            11.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
180348       49.0         42.0        43.0            49.0         51.0

[1 rows x 38 columns]
Worst player for category long_passing
        player_name  height  weight  overall_rating  potential  crossing  \
75784  Jakub Slowik   190.5     181            49.0       58.0       7.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
75784        9.0               8.0           12.0      4.0  ...    23.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
75784       17.0      6.0              3.0             7.0       47.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
75784         48.0        49.0            52.0         53.0

[1 rows x 38 columns]
Worst player for category ball_control
                    player_name  height  weight  overall_rating  potential  \
155019  Rune Almenning Jarstein   190.5     181            70.0       76.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
155019      18.0        9.0              13.0           19.0     18.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
155019    50.0       65.0     12.0              6.0            12.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
155019       66.0         71.0        59.0            69.0         76.0

[1 rows x 38 columns]
Worst player for category acceleration
             player_name  height  weight  overall_rating  potential  crossing  \
119662  Matthew Gilks,18  185.42     179            42.0       59.0      17.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
119662        5.0              14.0           17.0     17.0  ...    36.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
119662       27.0      3.0             14.0            28.0       41.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
119662         46.0        38.0            34.0         45.0

[1 rows x 38 columns]
Worst player for category sprint_speed
                 player_name  height  weight  overall_rating  potential  \
145086  Radoslaw Janukiewicz   190.5     196            61.0       62.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
145086      16.0       16.0              16.0           36.0     16.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
145086    26.0       14.0     13.0             10.0            11.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
145086       64.0         65.0        44.0            52.0         69.0

[1 rows x 38 columns]
Worst player for category agility
         player_name  height  weight  overall_rating  potential  crossing  \
31802  Connor Ripley   190.5     212            61.0       77.0       8.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
31802        8.0              13.0           12.0     13.0  ...    27.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
31802       13.0     12.0             11.0            14.0       66.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
31802         59.0        71.0            64.0         60.0

[1 rows x 38 columns]
Worst player for category reactions
             player_name  height  weight  overall_rating  potential  crossing  \
89525   Joshua Brillante  177.80     161            54.0       63.0      48.0
175225    Ulisse Pelloni  182.88     172            53.0       68.0      20.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
89525        46.0              34.0           61.0     37.0  ...    59.0
175225       25.0              25.0           26.0     25.0  ...    25.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
89525        42.0     48.0             59.0            59.0       11.0
175225       24.0     25.0             21.0            25.0       60.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
89525           8.0        13.0             5.0         10.0
175225         52.0        56.0            49.0         59.0

[2 rows x 38 columns]
Worst player for category balance
              player_name  height  weight  overall_rating  potential  \
56838   Florent Chaigneau  198.12     207            66.0       70.0
63787     Gianluca Pegolo  182.88     168            59.0       66.0
140873        Paulo Lopes  185.42     176            59.0       64.0
170170      Thomas Bosmel  182.88     165            50.0       69.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
56838        9.0        8.0              17.0           35.0      9.0  ...
63787       51.0       51.0              44.0           35.0     35.0  ...
140873      13.0       11.0              11.0           31.0     13.0  ...
170170      23.0       23.0              23.0           39.0     12.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
56838     43.0       12.0      8.0             14.0            17.0
63787     20.0       40.0     21.0             27.0            24.0
140873    36.0       29.0     13.0             14.0            18.0
170170    20.0       23.0     23.0             23.0            17.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
56838        68.0         60.0        68.0            72.0         69.0
63787        67.0         51.0        59.0            49.0         67.0
140873       60.0         61.0        64.0            55.0         63.0
170170       54.0         48.0        53.0            52.0         50.0

[4 rows x 38 columns]
Worst player for category shot_power

         player_name  height  weight  overall_rating  potential  crossing  \
84238  Johann Durand  182.88     157            47.0       51.0      24.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
84238        3.0               5.0           24.0      2.0  ...    32.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
84238       23.0      3.0              6.0             6.0       49.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
84238         47.0        44.0            51.0         42.0

[1 rows x 38 columns]
Worst player for category jumping
           player_name  height  weight  overall_rating  potential  crossing  \
8956  Alireza Haghighi  193.04     176            54.0       71.0       9.0

      finishing  heading_accuracy  short_passing  volleys  ...  vision  \
8956        3.0              25.0            3.0      2.0  ...    25.0

      penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
8956       25.0      4.0             23.0            33.0       65.0

      gk_handling  gk_kicking  gk_positioning  gk_reflexes
8956         57.0        55.0            63.0         72.0

[1 rows x 38 columns]
Worst player for category stamina
             player_name  height  weight  overall_rating  potential  crossing  \
48810            Elisson  187.96     187            62.0       68.0      22.0
64586     Giovanaz Assis  187.96     203            61.0       68.0      11.0
98880    Landry Bonnefoi  182.88     159            65.0       78.0      11.0
122435  Merveille Goblet  180.34     172            58.0       69.0      13.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
48810        23.0              34.0           43.0     17.0  ...    34.0
64586        12.0               8.0           32.0     25.0  ...    16.0
98880        13.0              12.0           11.0      9.0  ...    16.0
122435       12.0              12.0           26.0     16.0  ...    31.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
48810        51.0     23.0             26.0            25.0       62.0
64586        12.0     11.0             11.0            12.0       66.0
98880        21.0     13.0              8.0            11.0       69.0
122435       32.0     15.0             16.0            12.0       61.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
48810          67.0        67.0            59.0         60.0
64586          57.0        68.0            61.0         65.0
98880          72.0        67.0            71.0         69.0
122435         53.0        56.0            58.0         63.0

[4 rows x 38 columns]
Worst player for category strength
           player_name  height  weight  overall_rating  potential  crossing  \
98880  Landry Bonnefoi  182.88     159            65.0       78.0      11.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
98880       13.0              12.0           11.0      9.0  ...    16.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
98880       21.0     13.0              8.0            11.0       69.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
98880         72.0        67.0            71.0         69.0

[1 rows x 38 columns]
Worst player for category long_shots
             player_name  height  weight  overall_rating  potential  crossing  \
53018      Fabien Audard  187.96     196            75.0       81.0       3.0
84238      Johann Durand  182.88     157            47.0       51.0      24.0
146724  Raphael Schaefer  190.50     207            78.0       77.0       8.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
53018         7.0               9.0           31.0      6.0  ...    67.0
84238         3.0               5.0           24.0      2.0  ...    32.0
146724        1.0               2.0           12.0      6.0  ...    48.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
53018        55.0      6.0              8.0             9.0       86.0
84238        23.0      3.0              6.0             6.0       49.0
146724       64.0      1.0              2.0            11.0       77.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
53018          73.0        72.0            73.0         71.0
84238          47.0        44.0            51.0         42.0
146724         79.0        63.0            76.0         77.0

[3 rows x 38 columns]
Worst player for category aggression
              player_name  height  weight  overall_rating  potential  \
163799  Simone Vergassola  175.26     154            69.0       69.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
163799      80.0       43.0              66.0           85.0     56.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
163799    77.0       80.0     80.0             72.0            65.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
163799        8.0         11.0        60.0            13.0         14.0

[1 rows x 38 columns]
Worst player for category interceptions
              player_name  height  weight  overall_rating  potential  \
107760  Mahamadou Samassa  187.96     185            49.0       70.0
108278    Mamadou Samassa  198.12     187            49.0       70.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
107760       9.0        8.0              12.0           26.0     12.0  ...
108278       9.0        8.0              12.0           26.0     12.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
107760    11.0       17.0      7.0             10.0            11.0
108278    11.0       17.0      7.0             10.0            11.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
107760       67.0         52.0        46.0            41.0         57.0
108278       67.0         52.0        46.0            41.0         57.0

[2 rows x 38 columns]
Worst player for category positioning
       player_name  height  weight  overall_rating  potential  crossing  \
4499  Alban Lafont  193.04     170            67.0       83.0      13.0

      finishing  heading_accuracy  short_passing  volleys  ...  vision  \
4499        6.0              13.0           28.0      9.0  ...    37.0

      penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
4499       16.0      5.0             14.0            12.0       69.0

      gk_handling  gk_kicking  gk_positioning  gk_reflexes
4499         72.0        68.0            69.0         68.0

[1 rows x 38 columns]
Worst player for category vision
         player_name  height  weight  overall_rating  potential  crossing  \
75836  Jakub Szumski  193.04     172            48.0       61.0       2.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
75836        6.0               6.0           12.0      7.0  ...     1.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
75836        5.0      9.0              7.0            13.0       54.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
75836         47.0        51.0            44.0         52.0

[1 rows x 38 columns]
Worst player for category penalties
      player_name  height  weight  overall_rating  potential  crossing  \
79580   Jed Steer  182.88     176            52.0       75.0       4.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
79580        4.0              11.0           18.0      6.0  ...    14.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
79580        3.0     23.0             11.0            10.0       60.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
79580         47.0        48.0            53.0         51.0

[1 rows x 38 columns]
Worst player for category marking
              player_name  height  weight  overall_rating  potential  \
48270   Edwin van der Sar  198.12     196            87.0       89.0
135325        Oka Nikolov  187.96     190            76.0       79.0
146724   Raphael Schaefer  190.50     207            78.0       77.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
48270       14.0       12.0              12.0           47.0     12.0  ...
135325      35.0        1.0              35.0           35.0     11.0  ...
146724       8.0        1.0               2.0           12.0      6.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
48270     40.0       88.0      1.0             13.0            11.0
135325    54.0       57.0      1.0             35.0            11.0
146724    48.0       64.0      1.0              2.0            11.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
48270        85.0         91.0        85.0            94.0         81.0
135325       73.0         74.0        69.0            76.0         78.0
146724       77.0         79.0        63.0            76.0         77.0

[3 rows x 38 columns]
Worst player for category standing_tackle
             player_name  height  weight  overall_rating  potential  crossing  \
146724  Raphael Schaefer   190.5     207            78.0       77.0       8.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
146724        1.0               2.0           12.0      6.0  ...    48.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
146724       64.0      1.0              2.0            11.0       77.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
146724         79.0        63.0            76.0         77.0

[1 rows x 38 columns]
Worst player for category sliding_tackle
             player_name  height  weight  overall_rating  potential  crossing  \
4871      Alberto Garcia  182.88     170            68.0       71.0      21.0
20535   Benjamin Lecomte  185.42     172            59.0       65.0      20.0
77725       Jasmin Buric  193.04     183            49.0       56.0      21.0
98021   Kristof van Hout  208.28     243            47.0       62.0      21.0
104481    Lucas Hradecky  190.50     176            49.0       63.0      22.0
145722   Rafal Gikiewicz  187.96     181            56.0       64.0      23.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
4871         21.0              21.0           21.0      9.0  ...    27.0
20535         3.0               7.0           16.0      5.0  ...    33.0
77725        22.0              22.0           22.0      4.0  ...    27.0
98021        21.0              21.0           29.0     11.0  ...    35.0
104481       22.0              22.0           22.0      8.0  ...    38.0
145722       23.0              23.0           23.0      9.0  ...    37.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
4871         35.0     21.0             21.0             2.0       68.0
20535        19.0      7.0              7.0             2.0       64.0
77725        22.0     22.0             22.0             2.0       54.0
98021        37.0     21.0             21.0             2.0       56.0
104481       60.0     22.0             22.0             2.0       45.0
145722       36.0     23.0             23.0             2.0       58.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
4871           70.0        72.0            72.0         70.0
20535          62.0        59.0            57.0         62.0
77725          53.0        46.0            49.0         49.0
98021          52.0        41.0            45.0         37.0
104481         51.0        43.0            46.0         58.0
145722         43.0        57.0            58.0         64.0

[6 rows x 38 columns]
Worst player for category gk_diving
               player_name  height  weight  overall_rating  potential  \
2730           Adrian Blad  165.10     137            45.0       58.0
3944           Aitor Nunez  177.80     154            67.0       76.0
4733         Alberto Botia  187.96     176            67.0       78.0
4922     Alberto Giuliatto  180.34     170            60.0       61.0
5280         Aleandro Rosi  182.88     176            67.0       80.0
...                    ...     ...     ...             ...        ...
182445  Younousse Sankhare  182.88     168            66.0       82.0
182534    Youssef El Arabi  182.88     185            47.0       55.0
183213         Zavon Hines  177.80     172            51.0       75.0
183461            Ze Mario  180.34     154            54.0       59.0
183872         Zoran Tosic  170.18     157            69.0       78.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
2730        42.0       21.0              34.0           42.0     37.0  ...
3944        70.0       40.0              47.0           60.0     39.0  ...
4733        58.0       28.0              69.0           61.0     29.0  ...
4922        71.0       61.0              38.0           54.0     31.0  ...
5280        66.0       62.0              64.0           66.0     55.0  ...
...          ...        ...               ...            ...      ...  ...
182445      51.0       69.0              51.0           74.0     66.0  ...
182534      49.0       51.0              43.0           49.0     80.0  ...
183213      33.0       57.0              52.0           33.0     63.0  ...
183461      48.0       34.0              38.0           45.0     21.0  ...
183872      66.0       67.0              51.0           68.0     68.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
2730      42.0       32.0     46.0             46.0            47.0
3944      62.0       67.0     69.0             68.0            65.0
4733      70.0       62.0     73.0             68.0            81.0
4922      40.0       52.0     69.0             56.0            65.0
5280      69.0       60.0     70.0             59.0            72.0
...        ...        ...      ...              ...             ...
182445    68.0       64.0     54.0             54.0            67.0
182534    66.0       54.0     37.0             26.0            60.0
183213    56.0       34.0     21.0             21.0            33.0
183461    45.0       42.0     60.0             60.0            58.0
183872    75.0       70.0     29.0             20.0            12.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
2730          1.0         23.0        32.0            23.0         23.0
3944          1.0         23.0        58.0            23.0         23.0
4733          1.0         22.0        70.0            22.0         22.0
4922          1.0         20.0        57.0            20.0         20.0
5280          1.0         20.0        75.0            20.0         20.0
...           ...          ...         ...             ...          ...
182445        1.0         21.0        57.0            21.0         21.0
182534        1.0         23.0        44.0            23.0         23.0
183213        1.0         21.0        27.0            21.0         21.0
183461        1.0         22.0        54.0            22.0         22.0
183872        1.0         20.0        65.0            20.0         20.0

[208 rows x 38 columns]
Worst player for category gk_handling
                    player_name  height  weight  overall_rating  potential  \
1831             Adam Le Fondre  175.26     161            42.0       64.0
16435            Arjan Swinkels  182.88     179            59.0       67.0
17607           Ashley Williams  182.88     201            47.0       64.0
19148               Bart Buysse  177.80     154            54.0       64.0
32362             Craig Gardner  175.26     179            64.0       78.0
42134              Dele Adeleye  187.96     168            49.0       70.0
45956          Dominique Kivuvu  187.96     192            58.0       73.0
63320                  Gervinho  177.80     146            65.0       69.0
67523          Guillaume Gillet  185.42     176            61.0       65.0
67651         Guillaume Rippert  180.34     168            62.0       71.0
69064         Hassan El Mouataz  177.80     168            59.0       60.0
69508          Heinz Barmettler  182.88     168            60.0       77.0
86402           Jonathan Wilmet  182.88     161            63.0       68.0
89290             Joseph Akpala  185.42     179            61.0       73.0
94999            Kenny Thompson  182.88     161            61.0       67.0
105266  Ludwig van Nieuwenhuyze  185.42     176            65.0       67.0
107706          Mahamadou Dissa  172.72     150            63.0       69.0
130694         Nebojsa Pavlovic  187.96     179            62.0       65.0
132800           Nicolas Frutos  193.04     194            83.0       84.0
138046            Pablo Osvaldo  182.88     179            58.0       62.0
145832           Rafal Murawski  175.26     165            69.0       68.0
167747              Stijn Meert  177.80     154            66.0       65.0
167753              Stijn Minne  170.18     150            57.0       59.0
171835             Tim Matthijs  180.34     168            63.0       66.0
172291          Timothy Derijck  185.42     183            61.0       67.0
175623       Vadis Odjidja-Ofoe  185.42     201            62.0       75.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
1831         8.0       43.0              35.0           28.0     64.0  ...
16435       50.0       34.0              38.0           48.0     25.0  ...
17607       24.0       16.0              43.0           33.0     40.0  ...
19148       52.0       28.0              55.0           49.0     36.0  ...
32362       60.0       63.0              58.0           69.0     76.0  ...
42134       34.0       19.0              29.0           37.0     33.0  ...
45956       69.0       46.0              44.0           59.0     42.0  ...
63320       52.0       59.0              43.0           59.0     76.0  ...
67523       57.0       64.0              58.0           57.0     67.0  ...
67651       52.0       33.0              62.0           60.0     48.0  ...
69064       52.0       38.0              48.0           63.0     47.0  ...
69508       47.0       18.0              55.0           56.0     22.0  ...
86402       61.0       61.0              62.0           56.0     66.0  ...
89290       34.0       62.0              58.0           46.0     63.0  ...
94999       47.0       48.0              64.0           57.0     47.0  ...
105266      46.0       38.0              66.0           63.0     51.0  ...
107706      52.0       65.0              62.0           53.0      NaN  ...
130694      44.0       32.0              72.0           51.0     32.0  ...
132800      64.0       86.0              93.0           74.0      NaN  ...
138046      38.0       59.0              63.0           33.0     83.0  ...
145832      63.0       53.0              63.0           68.0     69.0  ...
167747      66.0       57.0              54.0           65.0     59.0  ...
167753      46.0       33.0              52.0           49.0     36.0  ...
171835      47.0       65.0              53.0           49.0     56.0  ...
172291      31.0       38.0              66.0           59.0     37.0  ...
175623      58.0       46.0              49.0           63.0     63.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
1831      57.0       46.0      5.0             12.0            12.0
16435     64.0       65.0     56.0             65.0            61.0
17607     70.0       52.0     54.0             43.0            69.0
19148     65.0       46.0     58.0             55.0            69.0
32362     70.0       51.0     37.0             57.0            65.0
42134     55.0       29.0     49.0             51.0            50.0
45956     65.0       67.0     63.0             68.0            59.0

                    player_name  height  weight  overall_rating  potential  \
6629         Alessandro Sgrigna  177.80     176            67.0       70.0
19148               Bart Buysse  177.80     154            54.0       64.0
38968            David Buchanan  172.72     148            40.0       65.0
45273             Djamel Mesbah  177.80     163            63.0       70.0
63320                  Gervinho  177.80     146            65.0       69.0
67523          Guillaume Gillet  185.42     176            61.0       65.0
67651         Guillaume Rippert  180.34     168            62.0       71.0
69064         Hassan El Mouataz  177.80     168            59.0       60.0
72342               Igor Djuric  182.88     165            53.0       72.0
82127                Jimmy Kebe  187.96     172            58.0       59.0
85689        Jonathan De Guzman  172.72     154            75.0       85.0
89290             Joseph Akpala  185.42     179            61.0       73.0
94999            Kenny Thompson  182.88     161            61.0       67.0
105266  Ludwig van Nieuwenhuyze  185.42     176            65.0       67.0
107706          Mahamadou Dissa  172.72     150            63.0       69.0
130694         Nebojsa Pavlovic  187.96     179            62.0       65.0
132800           Nicolas Frutos  193.04     194            83.0       84.0
145832           Rafal Murawski  175.26     165            69.0       68.0
163067               Simon King  182.88     174            43.0       60.0
167747              Stijn Meert  177.80     154            66.0       65.0
167753              Stijn Minne  170.18     150            57.0       59.0
171835             Tim Matthijs  180.34     168            63.0       66.0
175623       Vadis Odjidja-Ofoe  185.42     201            62.0       75.0
179013                 Weligton  185.42     157            62.0       66.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
6629        63.0       68.0              19.0           44.0     67.0  ...
19148       52.0       28.0              55.0           49.0     36.0  ...
38968       33.0       24.0              33.0           36.0     15.0  ...
45273       66.0       59.0              63.0           63.0     54.0  ...
63320       52.0       59.0              43.0           59.0     76.0  ...
67523       57.0       64.0              58.0           57.0     67.0  ...
67651       52.0       33.0              62.0           60.0     48.0  ...
69064       52.0       38.0              48.0           63.0     47.0  ...
72342       49.0       37.0              61.0           50.0     33.0  ...
82127       35.0       64.0              62.0           34.0     53.0  ...
85689       68.0       64.0              64.0           80.0     71.0  ...
89290       34.0       62.0              58.0           46.0     63.0  ...
94999       47.0       48.0              64.0           57.0     47.0  ...
105266      46.0       38.0              66.0           63.0     51.0  ...
107706      52.0       65.0              62.0           53.0      NaN  ...
130694      44.0       32.0              72.0           51.0     32.0  ...
132800      64.0       86.0              93.0           74.0      NaN  ...
145832      63.0       53.0              63.0           68.0     69.0  ...
163067      19.0       10.0              37.0           52.0     13.0  ...
167747      66.0       57.0              54.0           65.0     59.0  ...
167753      46.0       33.0              52.0           49.0     36.0  ...
171835      47.0       65.0              53.0           49.0     56.0  ...
175623      58.0       46.0              49.0           63.0     63.0  ...
179013      37.0       19.0              28.0           39.0     17.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
6629      63.0       58.0     18.0             31.0            29.0
19148     65.0       46.0     58.0             55.0            69.0
38968     48.0       51.0     33.0             14.0            56.0
45273     62.0       67.0     63.0             24.0            69.0
63320     74.0       57.0     25.0             24.0            35.0
67523     70.0       63.0     43.0             52.0            71.0
67651     60.0       53.0     72.0             76.0            65.0
69064     65.0       59.0     62.0             59.0            64.0
72342     53.0       42.0     59.0             47.0            58.0
82127     70.0       53.0     13.0             23.0            21.0
85689     72.0       79.0     59.0             61.0            28.0
89290     46.0       54.0     25.0             22.0            24.0
94999     57.0       55.0     60.0             61.0            67.0
105266    67.0       55.0     54.0             66.0            64.0
107706     NaN       60.0     25.0             23.0             NaN
130694    66.0       65.0     57.0             68.0            64.0
132800     NaN       88.0     40.0             43.0             NaN
145832    73.0       55.0     42.0             60.0            35.0
163067    50.0       39.0     48.0             42.0            62.0
167747    70.0       67.0     46.0             46.0            47.0
167753    61.0       54.0     63.0             64.0            68.0
171835    65.0       55.0     22.0             25.0            42.0
175623    75.0       62.0     67.0             60.0            68.0
179013    67.0       53.0     70.0             73.0            83.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
6629          5.0          4.0        42.0             5.0          1.0
19148         1.0          1.0        44.0             1.0          1.0
38968        10.0          9.0        27.0             2.0          1.0
45273         1.0          2.0        59.0             2.0          1.0
63320         1.0          1.0        44.0             1.0          1.0
67523         1.0          1.0        52.0             1.0          1.0
67651         1.0          1.0        70.0             1.0          1.0
69064         1.0          1.0        59.0             1.0          1.0
72342        16.0          6.0         6.0             3.0          1.0
82127        11.0         16.0        24.0             9.0          1.0
85689         7.0          6.0        74.0             6.0          1.0
89290         1.0          1.0        33.0             1.0          1.0
94999         1.0          1.0        46.0             1.0          1.0
105266        1.0          1.0        53.0             1.0          1.0
107706        1.0          1.0        46.0             1.0          1.0
130694        1.0          1.0        46.0             1.0          1.0
132800        1.0          1.0        63.0             1.0          1.0
145832        6.0          1.0        62.0             5.0          1.0
163067       10.0          3.0        13.0             5.0          1.0
167747        1.0          1.0        60.0             1.0          1.0
167753        1.0          1.0        44.0             1.0          1.0
171835       11.0          1.0        44.0             1.0          1.0
175623        1.0          1.0        60.0             1.0          1.0
179013        6.0          4.0        35.0             7.0          1.0

[24 rows x 38 columns]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [44]:
# Convert date to Age
def age(born):
    born = datetime.strptime(born, '%Y-%m-%d %H:%M:%S').date()
    today = date.today()
    return today.year - born.year - ((today.month, 
                                      today.day) < (born.month, 
                                                    born.day))

In [45]:
# GET AGE OF ALL PLAYERS
birthday = df_players_copy.drop_duplicates(subset=['player_name'], keep='first')
new_birthday = birthday.filter(['player_name','birthday'])
# new_birthday

new_birthday['Age'] = new_birthday['birthday'].apply(age)
  
display(new_birthday)

                player_name             birthday  Age
0        Aaron Appindangoye  1992-02-29 00:00:00   30
5           Aaron Cresswell  1989-12-15 00:00:00   32
38              Aaron Doran  1991-05-13 00:00:00   31
64            Aaron Galindo  1982-05-08 00:00:00   40
87             Aaron Hughes  1979-11-08 00:00:00   42
...                     ...                  ...  ...
183924       Zoumana Camara  1979-04-03 00:00:00   43
183937         Zsolt Laczko  1986-12-18 00:00:00   35
183953            Zsolt Low  1979-04-29 00:00:00   43
183960  Zurab Khizanishvili  1981-10-06 00:00:00   40
183968   Zvjezdan Misimovic  1982-06-05 00:00:00   40

[10848 rows x 3 columns]

In [46]:
# OLDEST PLAYER IN ALL LEAGUES
new_birthday['Age'].max()

55

In [47]:
# YOUNGEST PLAYER IN ALL LEAGUES
new_birthday['Age'].min()

23

In [48]:
# Players based on age group

Under20 = new_birthday[new_birthday['Age'] <=20]
age20_30 = new_birthday[(new_birthday['Age'] >20) & (new_birthday['Age'] <= 30)]
age30_40 = new_birthday[(new_birthday['Age'] >30) & (new_birthday['Age'] <=40)]
Above40 = new_birthday[new_birthday['Age'] > 40]

In [49]:
# Under 20
Under20

Empty DataFrame
Columns: [player_name, birthday, Age]
Index: []

In [50]:
# Between 20 and 30
age20_30

               player_name             birthday  Age
0       Aaron Appindangoye  1992-02-29 00:00:00   30
139             Aaron Kuhl  1996-01-30 00:00:00   26
172           Aaron Lennox  1993-02-19 00:00:00   29
309          Aaron Splaine  1996-10-13 00:00:00   25
441        Abdellah Zoubir  1991-12-05 00:00:00   30
...                    ...                  ...  ...
183625    Zinedine Machach  1996-01-05 00:00:00   26
183634          Zinho Gano  1993-10-13 00:00:00   28
183649         Ziri Hammar  1992-07-25 00:00:00   30
183660                Zizo  1996-01-10 00:00:00   26
183856     Zoran Josipovic  1995-08-25 00:00:00   26

[2504 rows x 3 columns]

In [51]:
# Between 30 and 40
age30_40

                player_name             birthday  Age
5           Aaron Cresswell  1989-12-15 00:00:00   32
38              Aaron Doran  1991-05-13 00:00:00   31
64            Aaron Galindo  1982-05-08 00:00:00   40
112              Aaron Hunt  1986-09-04 00:00:00   35
146            Aaron Lennon  1987-04-16 00:00:00   35
...                     ...                  ...  ...
183895   Zouhaier Dhaouadhi  1988-01-01 00:00:00   34
183903       Zouhair Feddal  1989-01-01 00:00:00   33
183937         Zsolt Laczko  1986-12-18 00:00:00   35
183960  Zurab Khizanishvili  1981-10-06 00:00:00   40
183968   Zvjezdan Misimovic  1982-06-05 00:00:00   40

[6427 rows x 3 columns]

In [52]:
# Above40
Above40

               player_name             birthday  Age
87            Aaron Hughes  1979-11-08 00:00:00   42
198          Aaron Mokoena  1980-11-25 00:00:00   41
335        Aaron Wilbraham  1979-10-21 00:00:00   42
373              Abasse Ba  1976-07-12 00:00:00   46
446     Abdelmajid Oulmers  1978-09-12 00:00:00   43
...                    ...                  ...  ...
183564           Zhi Zheng  1980-08-20 00:00:00   41
183665   Zlatan Bajramovic  1979-08-12 00:00:00   42
183796         Zoltan Gera  1979-04-22 00:00:00   43
183924      Zoumana Camara  1979-04-03 00:00:00   43
183953           Zsolt Low  1979-04-29 00:00:00   43

[1917 rows x 3 columns]

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!

# GET HOME AND AWAY TOTAL GOALS SCORED

In [54]:
df_home = pd.read_csv('home_team_matches.csv')
df_away = pd.read_csv('away_team_matches.csv')

In [55]:
df_home.head()

           home_team     season  stage                 date  home_team_goal
0           KRC Genk  2008/2009      1  2008-08-17 00:00:00               1
1   SV Zulte-Waregem  2008/2009      1  2008-08-16 00:00:00               0
2  KSV Cercle Brugge  2008/2009      1  2008-08-16 00:00:00               0
3           KAA Gent  2008/2009      1  2008-08-17 00:00:00               5
4      FCV Dender EH  2008/2009      1  2008-08-16 00:00:00               1

In [56]:
df_away.head()

           away_team     season  stage                 date  away_team_goal
0       Beerschot AC  2008/2009      1  2008-08-17 00:00:00               1
1   Sporting Lokeren  2008/2009      1  2008-08-16 00:00:00               0
2     RSC Anderlecht  2008/2009      1  2008-08-16 00:00:00               3
3          RAEC Mons  2008/2009      1  2008-08-17 00:00:00               0
4  Standard de Liège  2008/2009      1  2008-08-16 00:00:00               3

In [57]:
# Drop columns from away teams that we do not need and then join the dataframe
df_away.drop(['season', 'stage', 'date'], axis=1, inplace=True)

In [58]:
print(df_away.head())

           away_team  away_team_goal
0       Beerschot AC               1
1   Sporting Lokeren               0
2     RSC Anderlecht               3
3          RAEC Mons               0
4  Standard de Liège               3

In [61]:
# Join home and away teams
concantd = df_home.join(df_away)

In [62]:
concantd.head()

,home_team,season,stage,date,home_team_goal,away_team,away_team_goal
0,KRC Genk,2008/2009,1,2008-08-17 00:00:00,1,Beerschot AC,1
1,SV Zulte-Waregem,2008/2009,1,2008-08-16 00:00:00,0,Sporting Lokeren,0
2,KSV Cercle Brugge,2008/2009,1,2008-08-16 00:00:00,0,RSC Anderlecht,3
3,KAA Gent,2008/2009,1,2008-08-17 00:00:00,5,RAEC Mons,0
4,FCV Dender EH,2008/2009,1,2008-08-16 00:00:00,1,Standard de Liège,3

# HOW DID THE TEAMS FAIR AGAINST EACH OTHER

In [63]:
df_head_to_head = concantd.to_csv('head_to_head_matches.csv')

In [64]:
head_to_head = pd.read_csv('head_to_head_matches.csv')

In [65]:
head_to_head.describe()

         Unnamed: 0         stage  home_team_goal  away_team_goal
count  25979.000000  25979.000000    25979.000000    25979.000000
mean   12989.000000     18.242773        1.544594        1.160938
std     7499.635658     10.407354        1.297158        1.142110
min        0.000000      1.000000        0.000000        0.000000
25%     6494.500000      9.000000        1.000000        0.000000
50%    12989.000000     18.000000        1.000000        1.000000
75%    19483.500000     27.000000        2.000000        2.000000
max    25978.000000     38.000000       10.000000        9.000000

In [66]:
# Get total home scored goals
total_home_goals = head_to_head['home_team_goal'].sum()

In [67]:
total_home_goals

40127

In [68]:
# Get total away goals
total_away_goals = head_to_head['away_team_goal'].sum()

In [69]:
total_away_goals

30160

## GET TEAM'S MOST SCORED GOALS FOR A MATCH

In [75]:
home_head_to_head = pd.read_csv('head_to_head_matches.csv')
max_res = home_head_to_head.groupby('home_team')['home_team_goal'].max().reset_index()
max_res.columns = ['home_team', 'max_goal']
max_res.head()

              home_team  max_goal
0  1. FC Kaiserslautern         5
1            1. FC Köln         4
2        1. FC Nürnberg         5
3       1. FSV Mainz 05         5
4            AC Ajaccio         3

In [72]:
max_res.to_csv('most_goals_per_team.csv')

GET TEAM'S LESS SCORED GOALS FOR A MATCH

In [77]:
away_head_to_head = pd.read_csv('head_to_head_matches.csv')
min_res = away_head_to_head.groupby('away_team')['away_team_goal'].min().reset_index()
min_res.columns = ['away_team', 'min_goal']
min_res.head()

              away_team  min_goal
0  1. FC Kaiserslautern         0
1            1. FC Köln         0
2        1. FC Nürnberg         0
3       1. FSV Mainz 05         0
4            AC Ajaccio         0

In [79]:
min_res.to_csv('less_goals_per_team.csv')

## TEAMS THAT SCORED MOST GOALS

In [80]:
team_max_goals =  pd.read_csv('most_goals_per_team.csv')

In [81]:
team_max_goals[team_max_goals.max_goal == team_max_goals.max_goal.max()]

     Unnamed: 0       home_team  max_goal
184         184             PSV        10
211         211  Real Madrid CF        10

## TEAMS THAT SCORED LESS GOALS

In [82]:
team_min_goals =  pd.read_csv('less_goals_per_team.csv')

In [83]:
team_min_goals[team_min_goals.min_goal == team_min_goals.min_goal.min()]

     Unnamed: 0                 away_team  min_goal
0             0      1. FC Kaiserslautern         0
1             1                1. FC Köln         0
2             2            1. FC Nürnberg         0
3             3           1. FSV Mainz 05         0
4             4                AC Ajaccio         0
..          ...                       ...       ...
291         291      Xerez Club Deportivo         0
292         292            Zagłębie Lubin         0
293         293         Zawisza Bydgoszcz         0
294         294  Évian Thonon Gaillard FC         0
295         295             Śląsk Wrocław         0

[296 rows x 3 columns]

 ## MATCHES WHERE HOME TEAMS  WON(AWAY TEAMS THAT LOST)

In [92]:
home_win_head_to_head = pd.read_csv('head_to_head_matches.csv')
teams_won = home_win_head_to_head[home_win_head_to_head['home_team_goal'] > home_win_head_to_head['away_team_goal']]
print(teams_lost[teams_lost.columns[0]].count())
teams_won.head()

7466

,Unnamed: 0,home_team,season,stage,date,home_team_goal,away_team,away_team_goal
3,3,KAA Gent,2008/2009,1,2008-08-17 00:00:00,5,RAEC Mons,0
8,8,KVC Westerlo,2008/2009,1,2008-08-16 00:00:00,1,Sporting Charleroi,0
9,9,Club Brugge KV,2008/2009,10,2008-11-01 00:00:00,4,KV Kortrijk,1
21,21,KSV Cercle Brugge,2008/2009,11,2008-11-07 00:00:00,2,SV Zulte-Waregem,0
25,25,KVC Westerlo,2008/2009,11,2008-11-08 00:00:00,1,KRC Genk,0

In [85]:
teams_won.to_csv('win_teams.csv')

## MATCHES WHERE HOME TEAMS LOST(AWAY TEAMS THAT WON)

In [90]:
away_win_head_to_head = pd.read_csv('head_to_head_matches.csv')
teams_lost = away_win_head_to_head[away_win_head_to_head['home_team_goal'] < away_win_head_to_head['away_team_goal']]
print(teams_lost[teams_lost.columns[0]].count())
teams_lost.head()

7466

,Unnamed: 0,home_team,season,stage,date,home_team_goal,away_team,away_team_goal
2,2,KSV Cercle Brugge,2008/2009,1,2008-08-16 00:00:00,0,RSC Anderlecht,3
4,4,FCV Dender EH,2008/2009,1,2008-08-16 00:00:00,1,Standard de Liège,3
7,7,Tubize,2008/2009,1,2008-08-16 00:00:00,1,Royal Excel Mouscron,2
10,10,Standard de Liège,2008/2009,10,2008-10-31 00:00:00,1,Sporting Charleroi,2
11,11,SV Zulte-Waregem,2008/2009,10,2008-11-02 00:00:00,0,KAA Gent,2

In [91]:
teams_lost.to_csv('loss_teams.csv')

## TEAMS THAT DREW(NO TEAM WON)

In [94]:
draw_head_to_head = pd.read_csv('head_to_head_matches.csv')
teams_draw = draw_head_to_head[draw_head_to_head['home_team_goal'] == draw_head_to_head['away_team_goal']]
print(teams_draw[teams_draw.columns[0]].count())
teams_draw.head()

6596

,Unnamed: 0,home_team,season,stage,date,home_team_goal,away_team,away_team_goal
0,0,KRC Genk,2008/2009,1,2008-08-17 00:00:00,1,Beerschot AC,1
1,1,SV Zulte-Waregem,2008/2009,1,2008-08-16 00:00:00,0,Sporting Lokeren,0
5,5,KV Mechelen,2008/2009,1,2008-09-24 00:00:00,1,Club Brugge KV,1
6,6,KSV Roeselare,2008/2009,1,2008-08-16 00:00:00,2,KV Kortrijk,2
12,12,Sporting Lokeren,2008/2009,10,2008-11-01 00:00:00,0,RAEC Mons,0

In [95]:
teams_draw.to_csv('draw_teams.csv')

## HOME TEAM SEASONAL PERFORMANCE

In [98]:
season_head_to_head = pd.read_csv('head_to_head_matches.csv')
home_teams_per_season_max = season_head_to_head.groupby(['home_team', 'season'])['home_team_goal'].max().reset_index()
home_teams_per_season_min = season_head_to_head.groupby(['home_team', 'season'])['home_team_goal'].min().reset_index()
print(home_teams_per_season_max.head())
home_teams_per_season_min.head()

              home_team     season  home_team_goal
0  1. FC Kaiserslautern  2010/2011               5
1  1. FC Kaiserslautern  2011/2012               3
2            1. FC Köln  2008/2009               2
3            1. FC Köln  2009/2010               3
4            1. FC Köln  2010/2011               4

              home_team     season  home_team_goal
0  1. FC Kaiserslautern  2010/2011               0
1  1. FC Kaiserslautern  2011/2012               0
2            1. FC Köln  2008/2009               0
3            1. FC Köln  2009/2010               0
4            1. FC Köln  2010/2011               0

## AWAY TEAM SEASONAL PERFORMANCE

In [99]:
season_away_head_to_head = pd.read_csv('head_to_head_matches.csv')
away_teams_per_season_max = season_away_head_to_head.groupby(['away_team', 'season'])['away_team_goal'].max().reset_index()
away_teams_per_season_min = season_away_head_to_head.groupby(['away_team', 'season'])['away_team_goal'].min().reset_index()
print(away_teams_per_season_max.head())
print(away_teams_per_season_min.head())

              away_team     season  away_team_goal
0  1. FC Kaiserslautern  2010/2011               4
1  1. FC Kaiserslautern  2011/2012               2
2            1. FC Köln  2008/2009               3
3            1. FC Köln  2009/2010               4
4            1. FC Köln  2010/2011               2
              away_team     season  away_team_goal
0  1. FC Kaiserslautern  2010/2011               0
1  1. FC Kaiserslautern  2011/2012               0
2            1. FC Köln  2008/2009               0
3            1. FC Köln  2009/2010               0
4            1. FC Köln  2010/2011               0

# TEAMS THAT PLAYED EACH OTHER SEASONALY

## HOME TEAM SEASONAL PERFORMANCE

In [101]:
#Club's seasonal games against other teams
home_season_head_to_head = pd.read_csv('head_to_head_matches.csv')
seasonal_games = home_season_head_to_head.groupby(['home_team', 'away_team', 'season', 'home_team_goal', 'away_team_goal'])['home_team_goal', 'away_team_goal'].apply(list)
print(seasonal_games.head())
seasonal_games.to_csv('seasonal_games.csv')

/tmp/ipykernel_8656/2783473665.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  seasonal_games = home_season_head_to_head.groupby(['home_team', 'away_team', 'season', 'home_team_goal', 'away_team_goal'])['home_team_goal', 'away_team_goal'].apply(list)

home_team             away_team        season     home_team_goal  away_team_goal
1. FC Kaiserslautern  1. FC Köln       2010/2011  1               1                 [home_team_goal, away_team_goal]
                                       2011/2012  0               1                 [home_team_goal, away_team_goal]
                      1. FC Nürnberg   2010/2011  0               2                 [home_team_goal, away_team_goal]
                                       2011/2012  0               2                 [home_team_goal, away_team_goal]
                      1. FSV Mainz 05  2010/2011  0               1                 [home_team_goal, away_team_goal]
dtype: object

In [102]:
# CLub's summary home and way basing on season and totals
away_season_head_to_head = pd.read_csv('head_to_head_matches.csv')
home_seasonal_games = away_season_head_to_head.groupby(['home_team', 'season'])['home_team_goal'].sum().reset_index(name='total_home_goals')
away_seasonal_games = away_season_head_to_head.groupby(['away_team', 'season'])['away_team_goal'].sum().reset_index(name='total_away_goals')
print(home_seasonal_games.head())
print(away_seasonal_games.head())

              home_team     season  total_home_goals
0  1. FC Kaiserslautern  2010/2011                25
1  1. FC Kaiserslautern  2011/2012                12
2            1. FC Köln  2008/2009                14
3            1. FC Köln  2009/2010                18
4            1. FC Köln  2010/2011                30
              away_team     season  total_away_goals
0  1. FC Kaiserslautern  2010/2011                23
1  1. FC Kaiserslautern  2011/2012                12
2            1. FC Köln  2008/2009                21
3            1. FC Köln  2009/2010                15
4            1. FC Köln  2010/2011                17

## TOTAL GOALS PER SEASON FOR EACH CLUB

In [103]:
home_seasonal_games['TotalGoals'] = home_seasonal_games['total_home_goals'] + away_seasonal_games['total_away_goals']
print(home_seasonal_games.head())
home_seasonal_games.to_csv('total_goals_per_season.csv')

              home_team     season  total_home_goals  TotalGoals
0  1. FC Kaiserslautern  2010/2011                25          48
1  1. FC Kaiserslautern  2011/2012                12          24
2            1. FC Köln  2008/2009                14          35
3            1. FC Köln  2009/2010                18          33
4            1. FC Köln  2010/2011                30          47

In [112]:
# MAXIMUM GOALS SCORED BY A TEAM IN ALL SEASONS
maxim_goals = pd.read_csv('total_goals_per_season.csv')
print(maxim_goals.describe())
maxim_goals_scored = maxim_goals['TotalGoals'].max()
maxim_goals_scored

        Unnamed: 0  total_home_goals   TotalGoals
count  1478.000000       1478.000000  1478.000000
mean    738.500000         27.149526    47.555480
std     426.806162          9.681661    15.895455
min       0.000000          3.000000     5.000000
25%     369.250000         21.000000    37.000000
50%     738.500000         25.000000    45.000000
75%    1107.750000         32.000000    55.000000
max    1477.000000         73.000000   121.000000

121

### WHICH TEAM SCORED MOST GOALS

In [110]:
# Team with most goals
maxim_goals[maxim_goals['TotalGoals'] == maxim_goals['TotalGoals'].max()]

      Unnamed: 0       home_team     season  total_home_goals  TotalGoals
1047        1047  Real Madrid CF  2011/2012                70         121

# WHAT TEAM SCORED MOST HOME GOALS

In [113]:
# Team with most home goals
maxim_goals[maxim_goals['total_home_goals'] == maxim_goals['total_home_goals'].max()]

     Unnamed: 0     home_team     season  total_home_goals  TotalGoals
352         352  FC Barcelona  2011/2012                73         114

### HOW MANY AND WHAT CATEGORIES FOR SEASONS ARE THERE?

In [120]:
season_categories = pd.read_csv('head_to_head_matches.csv')
categories = season_categories['season'].astype('category')
categories

0        2008/2009
1        2008/2009
2        2008/2009
3        2008/2009
4        2008/2009
           ...
25974    2015/2016
25975    2015/2016
25976    2015/2016
25977    2015/2016
25978    2015/2016
Name: season, Length: 25979, dtype: category
Categories (8, object): ['2008/2009', '2009/2010', '2010/2011', '2011/2012', '2012/2013', '2013/2014', '2014/2015', '2015/2016']

### HOW MANY AND WHAT CATEGORIES FOR STAGES ARE THERE?

In [121]:
stage_categories = pd.read_csv('head_to_head_matches.csv')
categories = stage_categories['stage'].astype('category')
categories

0        1
1        1
2        1
3        1
4        1
        ..
25974    9
25975    9
25976    9
25977    9
25978    9
Name: stage, Length: 25979, dtype: category
Categories (38, int64): [1, 2, 3, 4, ..., 35, 36, 37, 38]