
# Project: Investigate a Soccer Statistics

In [74]:
# IMPORT PACKAGES
import pandas as pd
import sqlite3
from datetime import datetime, date

In [8]:
# CONNEC TO DATABASE

conn = sqlite3.connect('database.sqlite')
c = conn.cursor()

In [10]:
# CREATE CSV'S

df_players = pd.read_sql('SELECT * from Player', conn)
df_teams = pd.read_sql('SELECT * from Team', conn)
df_country = pd.read_sql('SELECT * from Country', conn)
df_league = pd.read_sql('SELECT * from League', conn)

In [ ]:
#  SAVE TO CSV
df_players.to_csv('players.csv', index=False)
df_teams.to_csv('teams.csv', index=False)
df_country.to_csv('countries.csv', index=False)
df_league.to_csv('leagues.csv', index=False)

In [11]:
# LOAD DATA

df_all_players = pd.read_csv('players.csv')
df_all_teams = pd.read_csv('teams.csv')
df_all_country = pd.read_csv('countries.csv')
df_all_league = pd.read_csv('leagues.csv')

In [17]:
print(df_all_players.describe())
df_all_players.head()

                 id  player_api_id  player_fifa_api_id        height  \
count  11060.000000   11060.000000        11060.000000  11060.000000
mean    5537.511392  156582.427215       165664.910488    181.867445
std     3197.692647  160713.700624        58649.928360      6.369201
min        1.000000    2625.000000            2.000000    157.480000
25%     2767.750000   35555.500000       151889.500000    177.800000
50%     5536.500000   96619.500000       184671.000000    182.880000
75%     8306.250000  212470.500000       203883.250000    185.420000
max    11075.000000  750584.000000       234141.000000    208.280000

             weight
count  11060.000000
mean     168.380289
std       14.990217
min      117.000000
25%      159.000000
50%      168.000000
75%      179.000000
max      243.000000

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [13]:
df_all_teams.head()

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [19]:
df_all_country.head()

      id     name
0      1  Belgium
1   1729  England
2   4769   France
3   7809  Germany
4  10257    Italy

In [15]:
df_all_league.head()

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [24]:
# Country Leagues
df_country_league = pd.read_sql(f"SELECT League.name, Country.name FROM League LEFT JOIN Country ON League.country_id = Country.id WHERE League.country_id != ''", conn)
df_country_league.to_csv('countryleague.csv', index=False)

df_leaguee = pd.read_csv('countryleague.csv')
df_leaguee.columns = ['league_name', 'country']
df_leaguee.head()

              league_name  country
0  Belgium Jupiler League  Belgium
1  England Premier League  England
2          France Ligue 1   France
3   Germany 1. Bundesliga  Germany
4           Italy Serie A    Italy

In [25]:
#  TEAMS DATA

df_teams_info = pd.read_sql(f"SELECT * FROM Team LEFT JOIN Team_Attributes ON Team.team_api_id = Team_Attributes.team_api_id WHERE Team.team_api_id != ''", conn)
df_teams_info.to_csv('teams_info.csv', index=False)

df_teams_info = pd.read_csv('teams_info.csv')
df_teams_info.head()

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name,id.1,team_fifa_api_id.1,team_api_id.1,date,buildUpPlaySpeed,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,9987,673.0,KRC Genk,GEN,485.0,673.0,9987.0,2010-02-22 00:00:00,45.0,...,60.0,Normal,Organised,70.0,High,65.0,Press,70.0,Wide,Cover
1,1,9987,673.0,KRC Genk,GEN,486.0,673.0,9987.0,2011-02-22 00:00:00,66.0,...,51.0,Normal,Organised,48.0,Medium,47.0,Press,54.0,Normal,Offside Trap
2,1,9987,673.0,KRC Genk,GEN,487.0,673.0,9987.0,2012-02-22 00:00:00,53.0,...,56.0,Normal,Organised,47.0,Medium,45.0,Press,55.0,Normal,Cover
3,1,9987,673.0,KRC Genk,GEN,488.0,673.0,9987.0,2013-09-20 00:00:00,58.0,...,56.0,Normal,Organised,47.0,Medium,45.0,Press,55.0,Normal,Cover
4,1,9987,673.0,KRC Genk,GEN,489.0,673.0,9987.0,2014-09-19 00:00:00,58.0,...,56.0,Normal,Organised,47.0,Medium,45.0,Press,55.0,Normal,Cover

In [28]:
# df_all_players = pd.read_sql(f"Select * from Player p, Player_Attributes pa WHERE p.player_api_id = pa.player_api_id", conn)

# df_all_players.to_csv('all_players.csv', index=False)

df_all_players = pd.read_sql(f"SELECT * FROM Player LEFT JOIN Player_Attributes ON Player.player_api_id = Player_Attributes.player_api_id WHERE Player.player_api_id != ''", conn)
df_all_players.to_csv('all_players.csv', index=False)

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,id,player_fifa_api_id,player_api_id,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,1,218353,505942,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,2,218353,505942,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,3,218353,505942,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,4,218353,505942,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,5,218353,505942,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [29]:
# HOME TEAM MATCHES

df_home_matches = pd.read_sql(f"SELECT t.team_long_name as home_team, m.season, m.stage, m.date,  m.home_team_goal  FROM Team t JOIN Match m ON t.team_api_id = m.home_team_api_id", conn)

df_home_matches.to_csv('home_team_matches.csv', index=False)

In [30]:
# Aay team matches

df_away_matches = pd.read_sql(f"SELECT t.team_long_name as away_team, m.season, m.stage, m.date,  m.away_team_goal  FROM Team t JOIN Match m ON t.team_api_id = m.away_team_api_id", conn)

df_away_matches.to_csv('away_team_matches.csv', index=False)

In [31]:
# LOAD PLAYERS
df_total_players = pd.read_csv('all_players.csv')
df_total_players.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,id.1,player_fifa_api_id.1,player_api_id.1,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,1,218353,505942,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,2,218353,505942,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,3,218353,505942,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,4,218353,505942,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,5,218353,505942,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [52]:
# remove duplicate columns
df_players_copy = df_total_players.loc[~df_total_players.index.duplicated(),:].copy()

df_players_new = df_players_copy.drop_duplicates(subset=['player_name'], keep='first')

df_players_new.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,id.1,player_fifa_api_id.1,player_api_id.1,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,1,218353,505942,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
5,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146,6,189615,155782,...,66.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
38,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163,39,186170,162549,...,68.0,61.0,23.0,22.0,24.0,16.0,11.0,12.0,9.0,13.0
64,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198,65,140161,30572,...,54.0,37.0,72.0,71.0,68.0,15.0,12.0,13.0,12.0,11.0
87,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154,88,17725,23780,...,41.0,45.0,75.0,73.0,71.0,8.0,6.0,16.0,12.0,11.0

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [53]:
df_players_categories = df_players_new.drop(df_players_copy.columns[[0, 1, 2, 3, 4,  7, 8, 9, 10,  13, 14, 15]], axis=1)

df_players_new = df_players_new.drop(df_players_copy.columns[[0, 1, 3, 4,  7, 8, 9, 10,  13, 14, 15]], axis=1)

categories = df_players_categories.columns.values.tolist()
print(categories)

['height', 'weight', 'overall_rating', 'potential', 'crossing', 'finishing', 'heading_accuracy', 'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy', 'long_passing', 'ball_control', 'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots', 'aggression', 'interceptions', 'positioning', 'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning', 'gk_reflexes']

Best rating for category height
208.28
Best rating for category weight
243
Best rating for category overall_rating
94.0
Best rating for category potential
94.0
Best rating for category crossing
92.0
Best rating for category finishing
95.0
Best rating for category heading_accuracy
95.0
Best rating for category short_passing
93.0
Best rating for category volleys
92.0
Best rating for category dribbling
96.0
Best rating for category curve
94.0
Best rating for category free_kick_accuracy
94.0
Best rating for category long_passing
93.0
Best rating for category ball_control
96.0
Best rating for category acceleration
97.0
Best rating for category sprint_speed
96.0
Best rating for category agility
95.0
Best rating for category reactions
92.0
Best rating for category balance
96.0
Best rating for category shot_power
95.0
Best rating for category jumping
95.0
Best rating for category stamina
95.0
Best rating for category strength
96.0
Best rating for category long_shots
93.0
Best rating for category aggression
94.0
Best rating for category interceptions
95.0
Best rating for category positioning
96.0
Best rating for category vision
94.0
Best rating for category penalties
96.0
Best rating for category marking
90.0
Best rating for category standing_tackle
91.0
Best rating for category sliding_tackle
95.0
Best rating for category gk_diving
88.0
Best rating for category gk_handling
87.0
Best rating for category gk_kicking
91.0
Best rating for category gk_positioning
93.0
Best rating for category gk_reflexes
90.0

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

<a id='eda'></a>
## Exploratory Data Analysis


### What is the best rating for each category of the player attributes

In [56]:
# Max per category
def max_rating(category):
    max_rating_category = df_players_new[category].max()
    print(f"Best rating for category {category}")
    return max_rating_category

In [57]:
best_rating = lambda : [print(max_rating(category)) for category in categories]
best_rating()

Best rating for category height
208.28
Best rating for category weight
243
Best rating for category overall_rating
94.0
Best rating for category potential
94.0
Best rating for category crossing
92.0
Best rating for category finishing
95.0
Best rating for category heading_accuracy
95.0
Best rating for category short_passing
93.0
Best rating for category volleys
92.0
Best rating for category dribbling
96.0
Best rating for category curve
94.0
Best rating for category free_kick_accuracy
94.0
Best rating for category long_passing
93.0
Best rating for category ball_control
96.0
Best rating for category acceleration
97.0
Best rating for category sprint_speed
96.0
Best rating for category agility
95.0
Best rating for category reactions
92.0
Best rating for category balance
96.0
Best rating for category shot_power
95.0
Best rating for category jumping
95.0
Best rating for category stamina
95.0
Best rating for category strength
96.0
Best rating for category long_shots
93.0
Best rating for category aggression
94.0
Best rating for category interceptions
95.0
Best rating for category positioning
96.0
Best rating for category vision
94.0
Best rating for category penalties
96.0
Best rating for category marking
90.0
Best rating for category standing_tackle
91.0
Best rating for category sliding_tackle
95.0
Best rating for category gk_diving
88.0
Best rating for category gk_handling
87.0
Best rating for category gk_kicking
91.0
Best rating for category gk_positioning
93.0
Best rating for category gk_reflexes
90.0

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

### What is the worst rating for each of the player attributes?

In [58]:
# Min per category
def min_rating(category):
    min_rating_category = df_players_new[category].min()
    print(f"Worst rating for category {category}")
    return min_rating_category

In [59]:
worst_rating = lambda : [print(min_rating(category)) for category in categories]
worst_rating()

Worst rating for category height
157.48
Worst rating for category weight
117
Worst rating for category overall_rating
42.0
Worst rating for category potential
49.0
Worst rating for category crossing
6.0
Worst rating for category finishing
3.0
Worst rating for category heading_accuracy
7.0
Worst rating for category short_passing
10.0
Worst rating for category volleys
5.0
Worst rating for category dribbling
6.0
Worst rating for category curve
6.0
Worst rating for category free_kick_accuracy
4.0
Worst rating for category long_passing
10.0
Worst rating for category ball_control
9.0
Worst rating for category acceleration
13.0
Worst rating for category sprint_speed
12.0
Worst rating for category agility
16.0
Worst rating for category reactions
27.0
Worst rating for category balance
12.0
Worst rating for category shot_power
6.0
Worst rating for category jumping
21.0
Worst rating for category stamina
10.0
Worst rating for category strength
21.0
Worst rating for category long_shots
6.0
Worst rating for category aggression
11.0
Worst rating for category interceptions
6.0
Worst rating for category positioning
3.0
Worst rating for category vision
3.0
Worst rating for category penalties
7.0
Worst rating for category marking
3.0
Worst rating for category standing_tackle
6.0
Worst rating for category sliding_tackle
5.0
Worst rating for category gk_diving
1.0
Worst rating for category gk_handling
1.0
Worst rating for category gk_kicking
1.0
Worst rating for category gk_positioning
1.0
Worst rating for category gk_reflexes
1.0

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

### Who is the best player for each category?

In [63]:
# BEST PLAYER
def best_player_category(category):
    best_player = df_players_new[df_players_new[category]== df_players_new[category].max()]
    print(f"Best player for category {category}")
    return best_player

In [65]:
best_player = lambda : [print(best_player_category(category)) for category in categories]
best_player()

Best player for category height
98021    Kristof van Hout
Name: player_name, dtype: object
Best player for category weight
98021     Kristof van Hout
171956           Tim Wiese
Name: player_name, dtype: object
Best player for category overall_rating
102482    Lionel Messi
Name: player_name, dtype: object
Best player for category potential
102482    Lionel Messi
131464          Neymar
Name: player_name, dtype: object
Best player for category crossing
148723    Ricardo Rodriguez
Name: player_name, dtype: object
Best player for category finishing
33330    Cristiano Ronaldo
Name: player_name, dtype: object
Best player for category heading_accuracy
16360     Aritz Aduriz
171581      Tim Cahill
Name: player_name, dtype: object
Best player for category short_passing
180709    Xavi Hernandez
Name: player_name, dtype: object
Best player for category volleys
183672    Zlatan Ibrahimovic
Name: player_name, dtype: object
Best player for category dribbling
102482    Lionel Messi
Name: player_name, dtype: object
Best player for category curve
38910    David Beckham
Name: player_name, dtype: object
Best player for category free_kick_accuracy
68319    Hakan Calhanoglu
Name: player_name, dtype: object
Best player for category long_passing
180568    Xabi Alonso
Name: player_name, dtype: object
Best player for category ball_control
102482    Lionel Messi
Name: player_name, dtype: object
Best player for category acceleration
118391    Mathis Bolly
Name: player_name, dtype: object
Best player for category sprint_speed
85567             Jonathan Biabiany
118391                 Mathis Bolly
143628    Pierre-Emerick Aubameyang
169536                 Theo Walcott
Name: player_name, dtype: object
Best player for category agility
103127    Lorenzo Insigne
121198       Maxi Moralez
168889       Takashi Inui
Name: player_name, dtype: object
Best player for category reactions
33330     Cristiano Ronaldo
102482         Lionel Messi
Name: player_name, dtype: object
Best player for category balance
43625    Diego Buonanotte
60900        Gaetan Krebs
Name: player_name, dtype: object
Best player for category shot_power
153587    Ronny
Name: player_name, dtype: object
Best player for category jumping
31004    Claudio Beauvue
Name: player_name, dtype: object
Best player for category stamina
29909    Christoph Kramer
Name: player_name, dtype: object
Best player for category strength
30403    Christopher Samba
70502        Herold Goulon
Name: player_name, dtype: object
Best player for category long_shots
33330    Cristiano Ronaldo
Name: player_name, dtype: object
Best player for category aggression
33621         Cyril Rool
80919     Jermaine Jones
142271              Pepe
Name: player_name, dtype: object
Best player for category interceptions
138694    Paolo Maldini
Name: player_name, dtype: object
Best player for category positioning
138694    Paolo Maldini
Name: player_name, dtype: object
Best player for category vision
11974       Andrea Pirlo
180709    Xavi Hernandez
Name: player_name, dtype: object
Best player for category penalties
149591    Rickie Lambert
Name: player_name, dtype: object
Best player for category marking
11443       Andrea Barzagli
64460     Giorgio Chiellini
169805         Thiago Silva
Name: player_name, dtype: object
Best player for category standing_tackle
169805    Thiago Silva
Name: player_name, dtype: object
Best player for category sliding_tackle
143228    Philipp Lahm
Name: player_name, dtype: object
Best player for category gk_diving
39200    David De Gea
43543     Diego Alves
Name: player_name, dtype: object
Best player for category gk_handling
48270     Edwin van der Sar
109033         Manuel Neuer
169903     Thibaut Courtois
Name: player_name, dtype: object
Best player for category gk_kicking
109033    Manuel Neuer
Name: player_name, dtype: object
Best player for category gk_positioning
48270    Edwin van der Sar
Name: player_name, dtype: object
Best player for category gk_reflexes
120334       Mattia Perin
177385    Vincent Enyeama
Name: player_name, dtype: object

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

### Worst player per category

In [66]:
# WORST PLAYER
def worst_player_category(category):
    worst_player = df_players_new[df_players_new[category]== df_players_new[category].min()]
    print(f"Worst player for category {category}")
    return worst_player

In [67]:
worst_player = lambda : [print(worst_player_category(category)) for category in categories]
worst_player()

Worst player for category height
      player_name  height  weight  overall_rating  potential  crossing  \
90616  Juan Quero  157.48     117            64.0       65.0      56.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
90616       51.0              45.0           53.0     53.0  ...    52.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
90616       65.0     27.0             13.0            21.0        6.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
90616         15.0         8.0            11.0          5.0

[1 rows x 38 columns]
Worst player for category weight
      player_name  height  weight  overall_rating  potential  crossing  \
90616  Juan Quero  157.48     117            64.0       65.0      56.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
90616       51.0              45.0           53.0     53.0  ...    52.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
90616       65.0     27.0             13.0            21.0        6.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
90616         15.0         8.0            11.0          5.0

[1 rows x 38 columns]
Worst player for category overall_rating
           player_name  height  weight  overall_rating  potential  crossing  \
59802  Frederic Schaub  180.34     154            42.0       52.0      27.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
59802       36.0              30.0           27.0      NaN  ...     NaN

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
59802       35.0     45.0             45.0             NaN        4.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
59802         22.0        35.0            22.0         22.0

[1 rows x 38 columns]
Worst player for category potential
          player_name  height  weight  overall_rating  potential  crossing  \
111662  Marco Mangold  185.42     181            49.0       49.0      31.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
111662       31.0              52.0           51.0     31.0  ...    42.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
111662       44.0     46.0             51.0            55.0       12.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
111662          9.0        12.0            12.0         10.0

[1 rows x 38 columns]
Worst player for category crossing
        player_name  height  weight  overall_rating  potential  crossing  \
4171     Alan Combe  185.42     172            58.0       58.0       6.0
144788  Rab Douglas  190.50     207            61.0       61.0       6.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
4171          6.0              12.0           21.0     11.0  ...    42.0
144788       11.0               8.0           19.0      9.0  ...    38.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
4171          7.0     12.0              9.0             6.0       58.0
144788       16.0     11.0             12.0            19.0       59.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
4171           60.0        58.0            61.0         53.0
144788         62.0        57.0            62.0         63.0

[2 rows x 38 columns]
Worst player for category finishing
       player_name  height  weight  overall_rating  potential  crossing  \
4495  Alban Joinel  187.96     181            58.0       66.0      13.0

      finishing  heading_accuracy  short_passing  volleys  ...  vision  \
4495        3.0              14.0           16.0      6.0  ...    32.0

      penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
4495       21.0      7.0              8.0             5.0       60.0

      gk_handling  gk_kicking  gk_positioning  gk_reflexes
4495         48.0        65.0            56.0         67.0

[1 rows x 38 columns]
Worst player for category heading_accuracy
           player_name  height  weight  overall_rating  potential  crossing  \
24311  Bruno Verissimo  172.72     176            65.0       65.0      19.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
24311        7.0               7.0           22.0      8.0  ...     9.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
24311       24.0      7.0             11.0             8.0       63.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
24311         66.0        63.0            67.0         65.0

[1 rows x 38 columns]
Worst player for category short_passing
         player_name  height  weight  overall_rating  potential  crossing  \
27240  Cesar Sanchez  185.42     181            75.0       75.0      11.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
27240       12.0              12.0           10.0     14.0  ...    43.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
27240       11.0     12.0             13.0            13.0       75.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
27240         73.0        72.0            85.0         71.0

[1 rows x 38 columns]
Worst player for category volleys
       player_name  height  weight  overall_rating  potential  crossing  \
158523   Scott Fox  182.88     174            62.0       62.0      18.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
158523       12.0              11.0           18.0      5.0  ...    42.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
158523       13.0      5.0             10.0             8.0       65.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
158523         57.0        56.0            62.0         65.0

[1 rows x 38 columns]
Worst player for category dribbling
              player_name  height  weight  overall_rating  potential  \
89779       Josip Posavec  190.50     181            54.0       66.0
114286    Mariusz Pawelek  185.42     179            64.0       64.0
139929  Paul Andre Guerin  182.88     165            60.0       73.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
89779       12.0        6.0              14.0           22.0      7.0  ...
114286      12.0       11.0              13.0           27.0     15.0  ...
139929       8.0        6.0              10.0           16.0      7.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
89779     35.0       19.0      7.0             10.0            11.0
114286    33.0       15.0     11.0             11.0            12.0
139929    14.0       12.0      7.0              6.0             6.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
89779        58.0         50.0        58.0            54.0         58.0
114286       68.0         56.0        73.0            64.0         69.0
139929       61.0         61.0        58.0            58.0         61.0

[3 rows x 38 columns]
Worst player for category curve
              player_name  height  weight  overall_rating  potential  \
4495         Alban Joinel  187.96     181            58.0       66.0
68499      Hamdi Kasraoui  193.04     192            63.0       63.0
75707         Jakub Divis  195.58     194            52.0       69.0
133147  Nicolas Penneteau  185.42     172            72.0       72.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
4495        13.0        3.0              14.0           16.0      6.0  ...
68499       10.0        7.0              16.0           24.0      9.0  ...
75707       11.0       13.0              24.0           31.0     15.0  ...
133147      11.0        9.0              19.0           33.0     15.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
4495      32.0       21.0      7.0              8.0             5.0
68499     17.0       12.0      7.0             13.0            13.0
75707     26.0        9.0     16.0              9.0            16.0
133147    46.0       15.0     10.0             11.0            11.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
4495         60.0         48.0        65.0            56.0         67.0
68499        65.0         64.0        60.0            62.0         62.0
75707        56.0         49.0        58.0            51.0         50.0
133147       73.0         72.0        75.0            75.0         74.0

[4 rows x 38 columns]
Worst player for category free_kick_accuracy
              player_name  height  weight  overall_rating  potential  \
177668  Vincenzo Fiorillo   190.5     174            69.0       69.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
177668       8.0       15.0               9.0           24.0      7.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
177668    37.0       22.0     11.0             10.0            10.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
177668       70.0         68.0        66.0            67.0         72.0

[1 rows x 38 columns]
Worst player for category long_passing
            player_name  height  weight  overall_rating  potential  crossing  \
84004    Johan Carrasso  187.96     192            66.0       66.0      11.0
142533  Peter Enckelman  187.96     196            59.0       59.0      16.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
84004        10.0              11.0           17.0     12.0  ...    46.0
142533       12.0              10.0           25.0     18.0  ...    27.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
84004        14.0     12.0              9.0             8.0       64.0
142533       14.0     12.0             10.0            11.0       57.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
84004          70.0        64.0            69.0         63.0
142533         58.0        51.0            63.0         60.0

[2 rows x 38 columns]
Worst player for category ball_control
              player_name  height  weight  overall_rating  potential  \
139929  Paul Andre Guerin  182.88     165            60.0       73.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
139929       8.0        6.0              10.0           16.0      7.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
139929    14.0       12.0      7.0              6.0             6.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
139929       61.0         61.0        58.0            58.0         61.0

[1 rows x 38 columns]
Worst player for category acceleration
              player_name  height  weight  overall_rating  potential  \
15524  Antonio Donnarumma  193.04     212            65.0       69.0

       crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
15524      13.0       10.0              10.0           11.0     11.0  ...

       vision  penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
15524    33.0       21.0     12.0             19.0            11.0       70.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
15524         62.0        51.0            59.0         74.0

[1 rows x 38 columns]
Worst player for category sprint_speed
           player_name  height  weight  overall_rating  potential  crossing  \
98186  Krzysztof Baran  195.58     203            64.0       65.0      20.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
98186       14.0              15.0           24.0     16.0  ...    32.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
98186       22.0     17.0             15.0            14.0       68.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
98186         62.0        55.0            66.0         68.0

[1 rows x 38 columns]
Worst player for category agility
            player_name  height  weight  overall_rating  potential  crossing  \
98021  Kristof van Hout  208.28     243            67.0       67.0      18.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
98021       13.0              17.0           29.0     12.0  ...    37.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
98021       25.0     19.0             16.0            13.0       70.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
98021         63.0        62.0            69.0         70.0

[1 rows x 38 columns]
Worst player for category reactions
         player_name  height  weight  overall_rating  potential  crossing  \
13094  Andrew McNeil  180.34     183            64.0       72.0      21.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
13094       21.0              21.0           21.0      NaN  ...     NaN

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
13094       22.0     21.0             21.0             NaN       72.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
13094         61.0        58.0            64.0         70.0

[1 rows x 38 columns]
Worst player for category balance
            player_name  height  weight  overall_rating  potential  crossing  \
98021  Kristof van Hout  208.28     243            67.0       67.0      18.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
98021       13.0              17.0           29.0     12.0  ...    37.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
98021       25.0     19.0             16.0            13.0       70.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
98021         63.0        62.0            69.0         70.0

[1 rows x 38 columns]
Worst player for category shot_power
           player_name  height  weight  overall_rating  potential  crossing  \
24311  Bruno Verissimo  172.72     176            65.0       65.0      19.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
24311        7.0               7.0           22.0      8.0  ...     9.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
24311       24.0      7.0             11.0             8.0       63.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
24311         66.0        63.0            67.0         65.0

[1 rows x 38 columns]
Worst player for category jumping
        player_name  height  weight  overall_rating  potential  crossing  \
77532  Janos Balogh  193.04     183            62.0       62.0      25.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
77532       25.0              25.0           25.0     25.0  ...    25.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
77532       25.0     25.0             25.0            25.0       64.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
77532         61.0        55.0            62.0         64.0

[1 rows x 38 columns]
Worst player for category stamina

            player_name  height  weight  overall_rating  potential  crossing  \
161514  Sergiusz Prusak  193.04     205            57.0       57.0      16.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
161514       17.0              18.0           30.0     13.0  ...    14.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
161514       22.0     21.0             13.0            15.0       64.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
161514         52.0        55.0            55.0         61.0

[1 rows x 38 columns]
Worst player for category strength
          player_name  height  weight  overall_rating  potential  crossing  \
102451  Lionel Letizi  187.96     176            72.0       76.0      13.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
102451       10.0              12.0           11.0     14.0  ...    14.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
102451       13.0     12.0             11.0            10.0       74.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
102451         69.0        73.0            72.0         72.0

[1 rows x 38 columns]
Worst player for category long_shots
              player_name  height  weight  overall_rating  potential  \
4495         Alban Joinel  187.96     181            58.0       66.0
67474    Guillaume Faivre  187.96     183            58.0       58.0
125493       Miguel Silva  187.96     172            69.0       77.0
177668  Vincenzo Fiorillo  190.50     174            69.0       69.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
4495        13.0        3.0              14.0           16.0      6.0  ...
67474       10.0       13.0              10.0           34.0     12.0  ...
125493      12.0        5.0              14.0           26.0      9.0  ...
177668       8.0       15.0               9.0           24.0      7.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
4495      32.0       21.0      7.0              8.0             5.0
67474     12.0       17.0     13.0             15.0            12.0
125493    28.0       13.0      5.0             14.0            14.0
177668    37.0       22.0     11.0             10.0            10.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
4495         60.0         48.0        65.0            56.0         67.0
67474        66.0         52.0        60.0            56.0         66.0
125493       72.0         68.0        56.0            70.0         76.0
177668       70.0         68.0        66.0            67.0         72.0

[4 rows x 38 columns]
Worst player for category aggression
                player_name  height  weight  overall_rating  potential  \
11643       Andrea Consigli  187.96     181            80.0       80.0
56817                Flavio  172.72     161            67.0       67.0
91285   Jules Stephane Goda  190.50     194            61.0       62.0
177668    Vincenzo Fiorillo  190.50     174            69.0       69.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
11643       10.0       10.0              10.0           31.0     19.0  ...
56817       32.0       72.0              74.0           44.0     68.0  ...
91285       12.0       11.0              16.0           29.0     18.0  ...
177668       8.0       15.0               9.0           24.0      7.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
11643     46.0       21.0     12.0             17.0            19.0
56817     59.0       64.0     11.0             23.0            23.0
91285     15.0       15.0     10.0             10.0            12.0
177668    37.0       22.0     11.0             10.0            10.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
11643        84.0         77.0        72.0            81.0         84.0
56817        15.0         10.0         6.0            11.0         11.0
91285        59.0         65.0        61.0            64.0         60.0
177668       70.0         68.0        66.0            67.0         72.0

[4 rows x 38 columns]
Worst player for category interceptions
             player_name  height  weight  overall_rating  potential  crossing  \
165660  Stefanos Kapinos  195.58     201            73.0       80.0      12.0
170970   Thomas Sorensen  195.58     196            71.0       71.0      18.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
165660       13.0              12.0           26.0     19.0  ...    32.0
170970       17.0              13.0           26.0     12.0  ...    53.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
165660       26.0     20.0             11.0            14.0       77.0
170970       24.0     14.0             14.0            13.0       70.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
165660         68.0        66.0            72.0         78.0
170970         65.0        72.0            74.0         74.0

[2 rows x 38 columns]
Worst player for category positioning
             player_name  height  weight  overall_rating  potential  crossing  \
165660  Stefanos Kapinos  195.58     201            73.0       80.0      12.0

        finishing  heading_accuracy  short_passing  volleys  ...  vision  \
165660       13.0              12.0           26.0     19.0  ...    32.0

        penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
165660       26.0     20.0             11.0            14.0       77.0

        gk_handling  gk_kicking  gk_positioning  gk_reflexes
165660         68.0        66.0            72.0         78.0

[1 rows x 38 columns]
Worst player for category vision
        player_name  height  weight  overall_rating  potential  crossing  \
85425  Jonas Mendes   190.5     181            59.0       65.0      14.0

       finishing  heading_accuracy  short_passing  volleys  ...  vision  \
85425       15.0              13.0           32.0     15.0  ...     3.0

       penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
85425       28.0     14.0             19.0            18.0       66.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
85425         54.0        61.0            53.0         63.0

[1 rows x 38 columns]
Worst player for category penalties
     player_name  height  weight  overall_rating  potential  crossing  \
4171  Alan Combe  185.42     172            58.0       58.0       6.0

      finishing  heading_accuracy  short_passing  volleys  ...  vision  \
4171        6.0              12.0           21.0     11.0  ...    42.0

      penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
4171        7.0     12.0              9.0             6.0       58.0

      gk_handling  gk_kicking  gk_positioning  gk_reflexes
4171         60.0        58.0            61.0         53.0

[1 rows x 38 columns]
Worst player for category marking
                   player_name  height  weight  overall_rating  potential  \
137546  Pablo Alcolea Guerrero  182.88     172            63.0       64.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
137546      13.0       20.0              13.0           33.0     13.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
137546    33.0       18.0      3.0              6.0             9.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
137546       64.0         65.0        63.0            60.0         68.0

[1 rows x 38 columns]
Worst player for category standing_tackle
                   player_name  height  weight  overall_rating  potential  \
137546  Pablo Alcolea Guerrero  182.88     172            63.0       64.0
139929       Paul Andre Guerin  182.88     165            60.0       73.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
137546      13.0       20.0              13.0           33.0     13.0  ...
139929       8.0        6.0              10.0           16.0      7.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
137546    33.0       18.0      3.0              6.0             9.0
139929    14.0       12.0      7.0              6.0             6.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
137546       64.0         65.0        63.0            60.0         68.0
139929       61.0         61.0        58.0            58.0         61.0

[2 rows x 38 columns]
Worst player for category sliding_tackle
                player_name  height  weight  overall_rating  potential  \
4495           Alban Joinel  187.96     181            58.0       66.0
171153  Thorsten Kirschbaum  193.04     198            65.0       65.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
4495        13.0        3.0              14.0           16.0      6.0  ...
171153       9.0       14.0              10.0           35.0     11.0  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
4495      32.0       21.0      7.0              8.0             5.0
171153    28.0       21.0     12.0             15.0             5.0

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
4495         60.0         48.0        65.0            56.0         67.0
171153       68.0         62.0        61.0            63.0         71.0

[2 rows x 38 columns]
Worst player for category gk_diving
               player_name  height  weight  overall_rating  potential  \
18155           Avi Strool  185.42     172            65.0       68.0
21036          Berat Sadik  193.04     183            67.0       67.0
30922        Claude Dielna  182.88     190            68.0       68.0
31398        Clemens Walch  180.34     170            65.0       65.0
37792     Darian MacKinnon  177.80     163            57.0       57.0
40428          David Silva  170.18     148            86.0       86.0
43725        Diego Ciccone  172.72     163            57.0       57.0
47095    Dzengis Cavusevic  187.96     181            65.0       65.0
55958             Fernando  185.42     168            78.0       78.0
57309       Florian Stahel  182.88     172            62.0       62.0
62957      Gerard Lifondja  182.88     192            58.0       71.0
67559     Guillaume Hoarau  193.04     176            74.0       74.0
76228       James McArthur  177.80     141            76.0       76.0
76341         James Milner  175.26     154            80.0       80.0
97808         Kris Commons  167.64     141            73.0       73.0
105522         Luis Carlos  172.72     143            68.0       71.0
107706     Mahamadou Dissa  172.72     150            63.0       66.0
108358    Mame Biram Diouf  185.42     174            77.0       77.0
115370      Markus Neumayr  170.18     170            67.0       67.0
120496        Maurice Ross  180.34     154            65.0       67.0
142041        Pedro Seabra  182.88     165            64.0       68.0
151669              Rodnei  190.50     198            65.0       65.0
156858         Samir Nasri  175.26     165            82.0       82.0
158440      Scott Cuthbert  187.96     196            69.0       69.0
165015      Stefan Glarner  177.80     163            61.0       61.0
176422  Veldin Muharemovic  182.88     170            57.0       60.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
18155       43.0       32.0              64.0           62.0      NaN  ...
21036       53.0       68.0              72.0           68.0     52.0  ...
30922       68.0       36.0              60.0           65.0     38.0  ...
31398       60.0       65.0              58.0           66.0     61.0  ...
37792       47.0       53.0              53.0           64.0     46.0  ...
40428       85.0       72.0              54.0           92.0     80.0  ...
43725       50.0       49.0              51.0           60.0     43.0  ...
47095       41.0       65.0              58.0           64.0     52.0  ...
55958       60.0       54.0              70.0           75.0     41.0  ...
57309       57.0       46.0              65.0           55.0     52.0  ...
62957       38.0       58.0              39.0           41.0      NaN  ...
67559       66.0       76.0              81.0           74.0     70.0  ...
76228       66.0       56.0              60.0           78.0     51.0  ...
76341       86.0       68.0              69.0           85.0     79.0  ...
97808       74.0       74.0              47.0           73.0     66.0  ...
105522      66.0       65.0              62.0           64.0      NaN  ...
107706      47.0       68.0              54.0           60.0      NaN  ...
108358      62.0       80.0              87.0           67.0     71.0  ...
115370      70.0       68.0              56.0           71.0     60.0  ...
120496      64.0       38.0              56.0           63.0      NaN  ...
142041      57.0       68.0              56.0           65.0      NaN  ...
151669      38.0       39.0              73.0           63.0     57.0  ...
156858      80.0       76.0              42.0           85.0     73.0  ...
158440      58.0       24.0              69.0           56.0     23.0  ...
165015      65.0       57.0              47.0           57.0     48.0  ...
176422      57.0       49.0              54.0           58.0      NaN  ...

        vision  penalties  marking  standing_tackle  sliding_tackle  \
18155      NaN       67.0     65.0             67.0             NaN
21036     64.0       66.0     14.0             21.0            15.0
30922     33.0       52.0     65.0             69.0            65.0
31398     61.0       60.0     26.0             23.0            26.0
37792     43.0       61.0     50.0             57.0            58.0
40428     93.0       77.0     23.0             30.0            29.0
43725     55.0       51.0     54.0             51.0            52.0
47095     64.0       61.0     38.0             42.0            39.0
55958     62.0       54.0     78.0             80.0            82.0
57309     46.0       50.0     56.0             63.0            60.0
62957      NaN       37.0     59.0             59.0             NaN
67559     69.0       80.0     45.0             52.0            35.0
76228     71.0       69.0     73.0             74.0            71.0
76341     78.0       81.0     67.0             68.0            70.0
97808     75.0       78.0     27.0             25.0            22.0
105522     NaN       67.0     52.0             45.0             NaN
107706     NaN       60.0     25.0             23.0             NaN
108358    60.0       75.0     42.0             29.0            21.0
115370    72.0       54.0     38.0             38.0            33.0
120496     NaN       57.0     65.0             68.0             NaN
142041     NaN       69.0     47.0             50.0             NaN
151669    50.0       60.0     61.0             68.0            63.0
156858    85.0       77.0     35.0             37.0            44.0
158440    40.0       31.0     68.0             67.0            67.0
165015    55.0       42.0     60.0             59.0            62.0
176422     NaN       55.0     56.0             60.0             NaN

        gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
18155         1.0         24.0        66.0            24.0         24.0
21036         1.0          1.0         1.0             1.0          1.0
30922         1.0          1.0         1.0             1.0          1.0
31398         1.0          1.0         1.0             1.0          1.0
37792         1.0          1.0         1.0             1.0          1.0
40428         1.0          1.0         1.0             1.0          1.0
43725         1.0          1.0         1.0             1.0          1.0
47095         1.0          1.0         1.0             1.0          1.0
55958         1.0          1.0         1.0             1.0          1.0
57309         1.0          1.0         1.0             1.0          1.0
62957         1.0         21.0        40.0            21.0         21.0
67559         1.0          1.0         1.0             1.0          1.0
76228         1.0          1.0         1.0             1.0          1.0
76341         1.0          1.0         1.0             1.0          1.0
97808         1.0          1.0         1.0             1.0          1.0
105522        1.0         23.0        60.0            23.0         23.0
107706        1.0         22.0        48.0            22.0         22.0
108358        1.0          1.0         1.0             1.0          1.0
115370        1.0          1.0         1.0             1.0          1.0
120496        1.0         25.0        53.0            25.0         25.0
142041        1.0         23.0        66.0            23.0         23.0
151669        1.0          1.0         1.0             1.0          1.0
156858        1.0          1.0         1.0             1.0          1.0
158440        1.0          1.0         1.0             1.0          1.0
165015        1.0          1.0         1.0             1.0          1.0
176422        1.0         21.0        55.0            21.0         21.0

[26 rows x 38 columns]
Worst player for category gk_handling
              player_name  height  weight  overall_rating  potential  \
21036         Berat Sadik  193.04     183            67.0       67.0
30922       Claude Dielna  182.88     190            68.0       68.0
31398       Clemens Walch  180.34     170            65.0       65.0
37792    Darian MacKinnon  177.80     163            57.0       57.0
40428         David Silva  170.18     148            86.0       86.0
43725       Diego Ciccone  172.72     163            57.0       57.0
47095   Dzengis Cavusevic  187.96     181            65.0       65.0
55958            Fernando  185.42     168            78.0       78.0
57309      Florian Stahel  182.88     172            62.0       62.0
67559    Guillaume Hoarau  193.04     176            74.0       74.0
76228      James McArthur  177.80     141            76.0       76.0
76341        James Milner  175.26     154            80.0       80.0
97808        Kris Commons  167.64     141            73.0       73.0
108358   Mame Biram Diouf  185.42     174            77.0       77.0
115370     Markus Neumayr  170.18     170            67.0       67.0
151669             Rodnei  190.50     198            65.0       65.0
156858        Samir Nasri  175.26     165            82.0       82.0
158440     Scott Cuthbert  187.96     196            69.0       69.0
165015     Stefan Glarner  177.80     163            61.0       61.0

        crossing  finishing  heading_accuracy  short_passing  volleys  ...  \
21036       53.0       68.0              72.0           68.0     52.0  ...
30922       68.0       36.0              60.0           65.0     38.0  ...
31398       60.0       65.0              58.0           66.0     61.0  ...
37792       47.0       53.0              53.0           64.0     46.0  ...
40428       85.0       72.0              54.0           92.0     80.0  ...
43725       50.0       49.0              51.0           60.0     43.0  ...
47095       41.0       65.0              58.0           64.0     52.0  ...
55958       60.0       54.0              70.0           75.0     41.0  ...
57309       57.0       46.0              65.0           55.0     52.0  ...
67559       66.0       76.0              81.0           74.0     70.0  ...
76228       66.0       56.0              60.0           78.0     51.0  ...
76341       86.0       68.0              69.0           85.0     79.0  ...
97808       74.0       74.0              47.0           73.0     66.0  ...
108358      62.0       80.0              87.0           67.0     71.0  ...
115370      70.0       68.0              56.0           71.0     60.0  ...

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [85]:
# This function converts given date to age
def age(born):
#     born = datetime.strptime(born, "%d/%m/%Y").date()
    born = datetime.strptime(born, '%Y-%m-%d %H:%M:%S').date()
    today = date.today()
    return today.year - born.year - ((today.month, 
                                      today.day) < (born.month, 
                                                    born.day))

In [86]:
# GET AGE OF ALL PLAYERS
birthday = df_players_copy.drop_duplicates(subset=['player_name'], keep='first')
new_birthday = birthday.filter(['player_name','birthday'])
# new_birthday

new_birthday['Age'] = new_birthday['birthday'].apply(age)
  
display(new_birthday)

                player_name             birthday  Age
0        Aaron Appindangoye  1992-02-29 00:00:00   30
5           Aaron Cresswell  1989-12-15 00:00:00   32
38              Aaron Doran  1991-05-13 00:00:00   31
64            Aaron Galindo  1982-05-08 00:00:00   40
87             Aaron Hughes  1979-11-08 00:00:00   42
...                     ...                  ...  ...
183924       Zoumana Camara  1979-04-03 00:00:00   43
183937         Zsolt Laczko  1986-12-18 00:00:00   35
183953            Zsolt Low  1979-04-29 00:00:00   43
183960  Zurab Khizanishvili  1981-10-06 00:00:00   40
183968   Zvjezdan Misimovic  1982-06-05 00:00:00   40

[10848 rows x 3 columns]

In [87]:
# OLDEST PLAYER IN ALL LEAGUES
new_birthday['Age'].max()

55

In [88]:
# YOUNGEST PLAYER IN ALL LEAGUES
new_birthday['Age'].min()

23

In [90]:
# Players based on age group

Under20 = new_birthday[new_birthday['Age'] <=20]
age20_30 = new_birthday[(new_birthday['Age'] >20) & (new_birthday['Age'] <= 30)]
age30_40 = new_birthday[(new_birthday['Age'] >30) & (new_birthday['Age'] <=40)]
Above40 = new_birthday[new_birthday['Age'] > 40]

Empty DataFrame
Columns: [player_name, birthday, Age]
Index: []

In [91]:
# Under 20
Under20

Empty DataFrame
Columns: [player_name, birthday, Age]
Index: []

In [92]:
# Between 20 and 30
age20_30

               player_name             birthday  Age
0       Aaron Appindangoye  1992-02-29 00:00:00   30
139             Aaron Kuhl  1996-01-30 00:00:00   26
172           Aaron Lennox  1993-02-19 00:00:00   29
309          Aaron Splaine  1996-10-13 00:00:00   25
441        Abdellah Zoubir  1991-12-05 00:00:00   30
...                    ...                  ...  ...
183625    Zinedine Machach  1996-01-05 00:00:00   26
183634          Zinho Gano  1993-10-13 00:00:00   28
183649         Ziri Hammar  1992-07-25 00:00:00   30
183660                Zizo  1996-01-10 00:00:00   26
183856     Zoran Josipovic  1995-08-25 00:00:00   26

[2510 rows x 3 columns]

In [93]:
# Between 30 and 40
age30_40

                player_name             birthday  Age
5           Aaron Cresswell  1989-12-15 00:00:00   32
38              Aaron Doran  1991-05-13 00:00:00   31
64            Aaron Galindo  1982-05-08 00:00:00   40
112              Aaron Hunt  1986-09-04 00:00:00   35
146            Aaron Lennon  1987-04-16 00:00:00   35
...                     ...                  ...  ...
183895   Zouhaier Dhaouadhi  1988-01-01 00:00:00   34
183903       Zouhair Feddal  1989-01-01 00:00:00   33
183937         Zsolt Laczko  1986-12-18 00:00:00   35
183960  Zurab Khizanishvili  1981-10-06 00:00:00   40
183968   Zvjezdan Misimovic  1982-06-05 00:00:00   40

[6426 rows x 3 columns]

In [94]:
# Above40
Above40

               player_name             birthday  Age
87            Aaron Hughes  1979-11-08 00:00:00   42
198          Aaron Mokoena  1980-11-25 00:00:00   41
335        Aaron Wilbraham  1979-10-21 00:00:00   42
373              Abasse Ba  1976-07-12 00:00:00   46
446     Abdelmajid Oulmers  1978-09-12 00:00:00   43
...                    ...                  ...  ...
183564           Zhi Zheng  1980-08-20 00:00:00   41
183665   Zlatan Bajramovic  1979-08-12 00:00:00   42
183796         Zoltan Gera  1979-04-22 00:00:00   43
183924      Zoumana Camara  1979-04-03 00:00:00   43
183953           Zsolt Low  1979-04-29 00:00:00   43

[1912 rows x 3 columns]

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!